/* ==|====================
   Layout/Section Block
   ======================= */

.l-section {
    width: 100%;

    &.mvp-sprint-application {
        padding: 80px 30px 30px;
        background-color: $color2;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 21;
        overflow: auto;

        @include MQ(M) {
            padding: 70px 80px;
        }

        .form-item {
            color: black !important;

            span {
                color: black !important;
            }
            
            input, textarea {
                border-color: black !important;
            }
        }

        button {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }

        p.title {
            font-size: 1.5em;
            color: black;
            padding-bottom: 15px;
            border-bottom: solid $color1 2px;
            margin-bottom: 30px;
            text-align: left;
        }

        .close-btn {
            @include wh(35px, 35px);
            background-image: url("../img/icon.close.png");
            background-color: black;
            background-size: 80%;
            background-position: center;
            cursor: pointer;
            transition: opacity .3s;
            position: absolute;
            top: 18px;
            right: 30px;

            &:hover {
                opacity: 0.9
            }
        }
    }

    &.who-we-are {
        background-color: $color3;
        padding: 0 0 60px 0;

        @include MQ(L) {
            padding: 0 0 80px 0;
        }

        .section-bg {
            @include wh(80%, auto);
            position: relative;
            margin-left: 10%;
            margin-bottom: 60px;

            @include MQ(L) {
                width: 60%;
                margin-left: 20%;
            }
        }

        .section-content {
            text-align: center;

            .section-icon {
                @include wh(auto, 60px);
                display: block;
                margin: 0 auto 20px;
            }

            .section-title {
                display: inline-block;
                padding: 6px 24px;
                background-color: $color1;
                color: white;
                margin-bottom: 20px;
            }

            .section-body {
                @include wh(calc(100% - 60px), auto);
                margin-left: 30px;
                color: $color1;
                line-height: 1.5;

                @include MQ(L) {
                    @include wh(60%, auto);
                    margin: 0 auto;
                    max-width: 600px;
                }
            }
        }
    }

    &.what-we-do {
        .pane {
            &.left {
                padding: 30px 45px;
                text-align: center;

                @include MQ(L) {
                    text-align: left;
                    padding: 80px;
                }

                .pane-content {
                    .pane-item {
                        margin-bottom: 30px;

                        @include MQ(L) {
                            margin-bottom: 60px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .pane-item-icon {
                            @include wh(auto, 60px);
                            display: block;
                            margin: 0 auto 20px;

                        }

                        .pane-item-title {
                            font-family: $headerFont;
                            font-size: 16px;
                            color: $color2;
                            margin: 0 auto 10px;
                            letter-spacing: 0;
                        }

                        .pane-item-body {
                            color: black;
                            font-size: 13px;
                            line-height: 2;
                        }
                    }
                }
            }

            &.right {
                background-color: $grey;
                padding: 30px 45px;
                text-align: left;

                @include MQ(M) {
                    text-align: center;
                }

                @include MQ(L) {
                    text-align: left;
                    height: 644px;
                    padding: 80px;
                }

                .pane-content {
                    @include MQ(L) {
                        @include center(y);
                    }
                    .brand-icon {
                        @include wh(auto, 70px);
                        display: block;
                        margin: 0 0 20px;

                        @include MQ(M) {
                            margin: 0 auto 20px;
                        }

                        @include MQ(L) {
                            margin: 0 0 10px;
                        }
                    }

                    .pane-title {
                        color: $color1;
                        font-size: 18px;
                        margin: 0 0 25px;

                        @include MQ(L) {
                            font-size: 22px;
                            margin: 0 0 35px;
                        }
                    }

                    .advantage {
                        padding: 6px 12px;
                        margin-bottom: 10px;
                        display: table;
                        
                        @include MQ(M) {
                            margin: 0 auto 10px;
                        }

                        @include MQ(L) {
                            margin: 0;
                            margin-bottom: 15px;
                        }

                        &.one {
                            background-color: $color1;
                            color: white;
                        }

                        &.two {
                            background-color: $color2;
                            color: white;
                        }

                        &.three {
                            background-color: $color3;
                            color: $color1;
                        }

                        &.four {
                            background-color: $color4;
                            color: $color1;
                        }
                    }
                }
            }
        }
    }

    &.works {
        position: relative;

        .carousel-controls {
            @include wh(30px, 30px);
            background-size: contain;
            z-index: 10;
            cursor: pointer;

            &.prev {
                background-image: url("../img/icon.prev.png");
                position: absolute !important;
                @include center(y);
                left: 30px;

                @include MQ(L) {
                    left: 80px;
                }
            }

            &.next {
                background-image: url("../img/icon.next.png");
                position: absolute !important;
                @include center(y);
                right: 30px;

                @include MQ(L) {
                    right: 80px;
                }
            }
        }

        .carousel {
            @include MQ(L) {
                display: flex;
                justify-content: flex-start;
            }
            .carousel-item {
                @include wh(100%, auto);

                @include MQ(L) {
                    @include wh(50%, auto);
                }
            }
        }
    }

    &.contact-us {
        padding: 30px;
        background-color: $color5;

        @include MQ(L) {
            padding: 80px;
        }

        .section-content {
            text-align: center;

            @include MQ(L) {
                width: 60%;
                max-width: 600px;
                margin: 0 auto;
            }

            .section-title {
                font-size: 2em;
                color: white;
                margin-bottom: 10px;

                span {
                    color: $color3;
                }

                @include MQ(L) {
                    font-size: 3em;
                    margin-bottom: 15px;
                }
            }

            .section-subtitle {
                color: $color4;
                margin-bottom: 30px;

                @include MQ(L) {
                    margin-bottom: 50px;
                }
            }

            .form-message-wrapper {
                @include wh(100%, 30px);
                padding: 0px;
                padding-left: 12px;
                color: white;
                margin-bottom: 30px;
                margin-top: -10px;
                display: flex;
                color: white;
                justify-content: space-between;

                @include MQ(L) {
                    margin-top: -30px
                }

                &.success {
                    background-color: $color4;
                    color: $color1;
                }

                &.error {
                    background-color: $color2;
                }

                .form-message {
                    align-self: center;
                }

                .form-message-close {
                    @include wh(30px, 30px);
                    background-color: $color1;
                    background-image: url("../img/icon.close.png");
                    cursor: pointer;
                    background-size: 70%;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: background-size .3s;

                    &:hover {
                        background-size: 67%;
                    }
                }
            }

            .submit-form {
                margin-bottom: 15px;
            }
        }
    }
}
