body{
    font-family: $bodyFont;
     background-color: $colorDark;
    // height: 100vh;
    // width: 100vw;
    // max-width: 100%;
    // max-height: 100%;
    // margin: 0;
    // padding: 0;
    @include font-smoothing;
    letter-spacing: 0.4px;
}

::selection {
  background-color: $colorWhite;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

.fgBlack {
    color: $colorBlack
}

.bgBlack {
    background-color: $colorBlack
}

.fgGray {
    color: $colorGray
}

.bgGray {
    background-color: $colorGray
}

.fgDark {
    color: $colorDark
}

.bgDark {
    background-color: $colorDark
}

.fgDarkGray {
    color: $colorDarkGray
}

.bgDarkGray {
    background-color: $colorDarkGray
}

.fgGray {
    color: $colorGray
}

.bgGray {
    background-color: $colorGray
}

.fgAccent {
    color: $colorAccent
}

.bgAccent {
    background-color: $colorAccent
}

.fgWhite {
    color: $colorWhite
}

.bgWhite {
    background-color: $colorWhite
}

.fgSuccess {
    color: $colorSuccess
}

.bgSuccess {
    background-color: $colorSuccess
}

.fgFailure {
    color: $colorFailure
}

.bgFailure {
    background-color: $colorFailure
}

//Animations

//Other Settings
.page {
  width: 100vw;
  height: 100vh;

  .navDivision {
    width: 100%;
    height: 70px;
    position: relative;
    z-index: +2;

  }

  .bodyDivision {
    width: 100%;
    height: calc(100% - 70px);
    // z-index: -1;


    .mainBody {
      width: calc(100% - 70px);
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      float: left;
      background-color: $colorDark;
    }
  }
}
