.pageNav {
  width: 100%;
  height: 100%;
  background-color: $colorDarkGray;
  // overflow: auto;
  box-shadow: 0px 5px 20px $colorDark;

  .brandLogo {
    width: 50px;
    height: 50px;
    margin: 10px 0 10px 70px;
    display: inline-block;
    float: left;
    border-radius: 50px;
    background-color: $colorGray;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin: 5px;
    }
  }

  .brandName {
    margin: 25px 0px 25px 25px;
    font-size: 20px;
    height: 20px;
    float: left;
    font-family: $headerFont;
    display: inline-block;
    line-height: 1;
    color: $colorWhite;
  }

  .userDetails {
    width: auto;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    margin-right: 70px;

    .adminEmail {
      font-size: 12px;
      height: 12px;
      line-height: 1;
      color: $colorWhite;
      display: inline;
      margin: 29px 0;
    }

    .userAvatar {
      width: 50px;
      height: 50px;
      margin: 10px 0 10px 30px;
      display: inline;
      border-radius: 50px;
      background-color: $colorGray;

      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 5px;
      }
    }

    .menuTrigger {
      width: 5px;
      height: 25px;
      margin: 22.5px 0 22.5px 30px;
      display: inline;
      cursor: pointer;

      .box {
        width: 5px;
        height: 5px;
        border-radius:5px;
        margin-bottom: 5px;
        background-color: $colorAccent;
      }

      .box:last-of-type {
        margin-bottom: 0;
      }
    }

    .menuBox {
      position: absolute;
      top: 35px;
      right: 80px;
      padding: 0;
      z-index: +2;
      box-shadow: 0px 3px 5px rgba(34,34,34,0.1);

      li {
        width: 100%;
        text-align: center;
        list-style: none;
        padding: 10px;
        line-height: 1;
        background-color: $colorGray;
        border-bottom: solid 2px darken($colorGray, 3);
        transition: background-color 0.3s ease;
        font-size: 12px;
        cursor: pointer;
        color: $colorWhite;

        &:first-of-type {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        &:last-of-type {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom: none;
        }

        &:hover {
          background-color: darken($colorGray, 3);
        }
      }
    }
  }
}

.sideNav {
  width: 70px;
  height: 100%;
  display: inline-block;
  float: left;
  background-color: $colorDarkGray;

  .sideNavItemWrapper {
    width: 70px;
    height: 80px;
    overflow: auto;

    .sideNavItem {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin: 25px 20px;
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    @each $navItem in home, jobMgmt, userMgmt, cashMgmt {
      .#{$navItem} {
        background-image: url('../img/icon.nav.#{$navItem}.png');
        transition: background-image 0.2s ease;

        &:hover, &.active {
          background-image: url('../img/icon.nav.#{$navItem}.hover.png');
        }

        &.active:after {
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 5px;
          background-color: $colorAccent;
          display: block;
          position: absolute;
          top: 0px;
          right: 0px;
        }
      }
    }
  }


}
