/* ==|====================
   Module/Button
   ======================= */

.btn {
	height: 40px;
	width: 70%;
	color: $white;
	border-radius: 20px;
	box-shadow: 0 5px 10px transparentize($black, 0.85);
	outline: none;
	position: relative;
	transition: transform 0.45s, box-shadow 0.45s, background 0.45s;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0));
	}

	&:hover {
		color: $white;
		transform: translateY(-10px);
		box-shadow: 0 15px 20px transparentize($black, 0.9);
	}

	&:focus {
		color: $white;
		outline-color: $grey;
	}

	&.btn-pink {
		background: linear-gradient(to right, $pink1, $pink2);
	}

	&.btn-green {
		background: linear-gradient(to right, $green1, $green2);
	}
	
	&.btn-purple {
		background: linear-gradient(to right, $purple1, $purple2);
	}
	
	&.btn-orange {
		background: linear-gradient(to right, $orange1, $orange2);
	}
	
	&.btn-blue {
		background: linear-gradient(to right, $blue1, $blue2);
	}
	
}