/* ==|====================
   Layout/Section
   ======================= */

.l-section {
	@include wiHe(100%, 100vh);
	position: relative;

	&.section-one {
		padding: 0 15px;
		background-color: $color2;
		
		@include MQ(M) {
			padding: 5px 95px;
		}

		.section-content {
			@include center(y);

			.section-icon {
				@include wiHe(20%, auto);
				display: block;
				margin: 0 auto;

				@include MQ(M) {
					@include wiHe(60%, auto);
				}
			}

			.section-text {
				@include rFS(3.7);
				margin-top: 10%;
				text-align: left;
				color: $color5;
				font-family: $headerFont;

				span {
					color: $color4;
				}

				@include MQ(M) {
					@include rFS(4.7);
					width: 82%;
				}
			}
		}
	}

	&.section-two {
		background-color: $color3;
		padding: 0 30px;

		.section-content {
			@include center(y);

			.section-icon {
				@include wiHe(64px, auto);
				display: block;
				margin: 0 auto 30px;

				@include MQ(M) {
					@include wiHe(64px, auto);
				}
			}

			.section-text {
				text-align: center;
				@include rFS(2.2);
				color: $color5;
				font-family: $headerFont;

				@include MQ(M) {
					width: 50%;
					margin: 0 auto;
				}

				&.lg {
					@include rFS(4.5);
					color: $color4;
					margin: 7% auto;

					@include MQ(M) {
						@include rFS(5.5);
						margin: 30px auto;
					};
				}

				&.bg {
					color: $color3;
					background-color: $color4;
					padding: 5px 15px;
					display: table;
					margin: 10% auto 0;
					width: auto;

					@include MQ(M) {
						margin: 60px auto 0;
					}
				}
			}
		}
	}

	&.section-three {
		background-image: url('../img/image.african-kids.jpg');
		background-position: center;
		background-size: cover;
	}
}