/* ==|====================
   Module/Button
   ======================= */

.btn {
	width: 176px;
	height: 40px;
	border-radius: 0;
	box-shadow: 0 4px 5px transparentize($black, 0.95);
	position: relative;
	transition: transform 0.45s;

	&.btn-yellow {
		background-color: $yellow;
		color: $purple;
		font-family: $headerFont;
		font-size: 1em;
		z-index: +1;
	}

	&:before {
		content: "";
		display: inline-block;
		text-align: center;
		margin: auto;
		width: 0;
		height: 100%;
		position: absolute !important;
		top: 0;
		@include center(x);
		z-index: -1;
		background-color: transparentize($black, 0.95);
		transition: width 0.45s;
		outline: none;
	}

	&:hover {
		transform: scale(0.98,0.98);
		&:before {
			width: 100%;
		}
	}

	&:active {
		outline: none;
	}
}