/* ==|====================
   Module/Pane
   ======================= */

.pane {
	width: 100%;
	background-color: $white;
	border-radius: 5px;
	box-shadow: 0 4px 5px transparentize($color2, 0.85);
	font-size: 1.1em;
	margin-bottom: 30px;
	overflow: hidden;

	.pane-heading {
		padding: 5px 15px;
		background-color: $color4;

		.pane-title {
			color: $color2;
			margin-top: 5px;
			margin-bottom: 0;
			font-size: 1.4em;

			span {
				color: $color1;
			}
		}

		.pane-subtitle {
			color: $black;
			margin: 5px 0 0;
			font-size: 1em;
		}
	}

	.pane-body {
		padding: 15px;
		border-top: dashed $color3 2px;

		&.no-border {
			border: none;
		}

		.pane-icon {
			width: 60px;
			display: block;
			margin: auto;
			text-align: center
		}

		.pane-table {
			text-align: left;
			margin-top: 30px;
			table-layout: fixed;

			a {
				color: $white;

				&.a-inverse {
					color: $color2;
					text-decoration: none;

					&:hover {
						color: $color1;
					}
				}
			}

			thead {
				tr {
 					background-color: $color2;
					
					th {
						color: $white;
	 					vertical-align: middle;
	 					text-align: left;
	 					height: 40px;
	 					padding: 0 15px;
					}
				}
			}

			tbody {
				tr {
					td {
						width: 50%;
						padding: 0 15px;
						vertical-align: middle;
						height: 40px;

						&.td-word-wrap {
							word-wrap: break-word;
						}

						&.padded {
							padding-top: 15px;
							padding-bottom: 15px;
						}

						img.user-icon {
							width: 60px;
							height: auto;
							display: block;
							margin: 0 auto 15px;

							&+p, &+span {
								clear: left;

								@include MQ(M) {
									clear: none;
								}
							}

							@include MQ(M) {
								float: left;
								margin: 0 15px 0 0;
								display: inline;
							}
						}
					}
				}
			}

			&.no-top-margin {
				margin-top: 0
			}
		}

		.pane-anchor-tag {
			padding: 5px 10px;
			background-color: $color2;
			color: $white;
			font-family: $headerFont;
			display: inline-block;
			float: left;
			clear: both;
			margin: 10px 0px 0px;
			text-decoration: none;
			transition: background-color 0.15s, color 0.15s;

			&:first-of-type {
				margin: 0;
			}			

			&:hover {
				background-color: $color1;
				color: $color2;
			}

			&.in-center {
				display: inline-block;
				float: none;
				clear: none;
				text-align: center;
				margin: 10px auto 0px
			}

			&.inline {
				display: inline-block;
				float: none;
				clear: none;
				text-align: center;
				margin: 0;
			}
		}

		.pane-timer {
			&.danger {
				.row {
					border: solid 3px red;
				}
			}
			.row {
				background-color: $color1;
				border-radius: 5px;
				overflow: hidden;

				.col {
					padding: 0px 0;

					:first-child {
						font-size: 1.2em;
					}

					:last-child {
						font-size: 0.85em;
					}

					&:last-child {
						border-radius: 5px;
					}

					&:nth-child(even) {
						background-color: darken($color1, 3);
					}
				}
			}

			@include MQ(M) {
				width: 300px;
				margin: auto;
			}
		}
	}

	.pane-alert {
		width: calc(100% + 60px);
		padding: 10px 30px;
		margin: 15px -30px;
		background-color: $color2;
		color: $white;

		&.in-accordion {
			width: calc(100% + 30px);
			padding: 10px 15px;
			margin: 15px -15px;
		}

		a {
			text-decoration: none;
		}

		strong {
			color: $color1;

			&:hover {
				color: $white;
			}
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.search-referrals {
		margin-top: 15px;
		display: inline-block;
		text-align: center;

		input {
			display: inline;
			width: auto;
			margin-bottom: 15px;
		}

		@include MQ(M) {
			margin-top: 0;
			float: right;

			input {
				margin-bottom: 0;
			}
		}
	}

	.empty-text {
		display: inline-block;
		margin-right: 10px;
	}

	.pagination {
		span {
			font-family: $headerFont;
		}

		&.per-page {
			float: right
		}
	}

	.validate-field {
		display: inline-block;
		text-align: center;

		input {
			display: inline;
			width: auto;
			margin-bottom: 15px;

			@include MQ(M) {
				margin-bottom: 0;
				margin-right: 15px;
			}
		}
	}

	.preset-avatars-group {
		text-align: center;

		@include MQ(M) {
			text-align: left;
		}

		.preset-avatar {
			width: 60px;
			height: auto;
			display: inline-block;
			border-radius: 30px;
			border: solid 3px $white;
			cursor: pointer;
			transition: opacity 0.15s;

			&:hover {
				opacity: 0.7;
			}

			&.selected {
				border: solid 3px $color1;
			}
		}
	}
}