/* ==|====================
   Module/Buttons
   ======================= */

 .m-section {
 	width: 100%;
 	height: auto;
 	padding: 30px 0;
 	font-size: 1.1em;
	
	@include MQ(M) {
		padding: 40px 0;
	}

	.section-title {
		margin-bottom: 30px;

		&.title-bo {
			color: $black;
			span {
				color: $color1;
			}
		}

		&.title-gw {
			color: $color2;
			span {
				color: $white;
			}
		}

		&.title-go {
			color: $color2;
			span {
				color: $color1;
			}
		}

		&.title-ow {
			color: $color1;
			span {
				color: $white
			}
		}
	}

 	&.how-it-works {
 		padding: 0;
 		background-color: $white;

 		.section-title {
 			color: $black;
 			margin-top: 30px;
 			margin-bottom: 0;

 			span {
 				color: $color1;
 			}

 			@include MQ(L) {
 				margin: 0 auto;
 			}
 		}

 		.row {
 			@include MQ(L) {
 				height: 350px;

 				.col-md-3 {
 					@include center(y);
 				}
 			}
 		}

 		.col-icon {
 			margin-top: 30px;

 			@include MQ(M) {
 				margin-top: 70px
 			}
 		}

 		.col-title {
 			margin: 12px auto;
 		}

 		.col-content {
 			padding-left: 30px;
 			padding-right: 30px;
 			margin-bottom: 30px;

 			@include MQ(M) {
 				margin-bottom: 70px
 			}
 		}
 	}

 	&.live-statistics {
 		background-color: $color2;

 		.col-title {
 			color: $white;
 			margin: 10px auto;
 		}

 		.col-data {
 			color: $color2;
 			background-color: $color1;
 			padding: 5px 10px;
 			display: inline-block;
 			margin: 0 auto
 		}

 		.col-xs-6.col-md-3:nth-of-type(3), .col-xs-6.col-md-3:nth-of-type(4) {
 			margin-top: 30px;

 			@include MQ(M) {
 				margin-top: 0;
 			}
 		}
 	}

 	&.monemate-statistics {
 		background-color: $color1;

 		.section-title {
 			color: $color2;
 			margin: 0 auto 30px;

 			span {
 				color: $white
 			}
 		}

 		table {
 			width: 80%;
 			margin: 0 10%;
 			text-align: center;
 			margin-bottom: 30px;

 			thead {
 				background-color: $color2;

 				th {
 					color: $white;
 					height: 40px;
 					vertical-align: middle;
 					text-align: center;
 					letter-spacing: 0.4px;
 				}
 			}

 			tbody {
 				background-color: $white;

 				tr {
 					td {
 						height: 40px;
 						color: $black;
 						vertical-align: middle;
 						width: 50%;
 					}
 				}
 			}
 		}

 		.col-md-3:last-of-type {
 			table {
 				margin-bottom: 0px;
 			}
 		}
 	}

 	&.donations-plan {
 		.section-title {
 			color: $color2;
 			margin: 0 auto 30px;

 			span {
 				color: $color1
 			}
 		}

 		table {
 			width: 100%;

 			thead {
 				tr {
 					height: 40px;
 					background-color: $color2;

 					th {
 						color: $white;
	 					vertical-align: middle;
	 					text-align: center;
 					}
 				}
 			}

 			tbody {
 				tr {
 					height: 40px;
 					background-color: $white;

 					td {
 						color: $black;
	 					vertical-align: middle;
	 					text-align: center;
 					}

 					&:nth-child(even) {
 						background-color: $color1
 					}
 				}
 			}
 		}
 	}

 	&.latest-donations {
 		background-color: $color1;
 		padding: 30px 0 0;

 		.row {
 			.section-title {
 				color: $color2;
 				padding-bottom: 30px;
 				margin: 0 auto;

 				span {
 					color: $white;
 				}
 			}

 			.user-item-container {
 				overflow: hidden;

 				.str_wrap {
 					background: none;
 				}

 				.user-item-scroller {
 					width: 100%;
 					height: 85px;
 					float: left;
 				}

 				.user-item {
	 				background-color: $color2;
	 				padding: 10px;
	 				border-radius: 5px;
	 				display: inline-block;
	 				margin-right: 20px;
	 				margin-bottom: 30px;

	 				.user-icon {
	 					height: 30px;
	 					display: inline-block;
	 				}

	 				.user-name {
	 					color: $white;
	 					padding-left: 10px;
	 					display: inline-block;
	 					width: 100px;
	 				}

	 				.user-amount-paid {
	 					color: $color1;
	 					padding-left: 10px;
	 					display: inline-block;
	 				}
	 			}
 			}
 		}
 	}

 	&.testimonials {
 		background-color: $color2;

 		.section-title {
 			color: $color1;
 			margin: 0 auto 30px;
 		}

 		.col-name {
 			margin: 10px auto;
 			color: $white;
 		}

		.col-amount {
			margin: 0 auto 10px;
			background-color: $color1;
			color: $color2;
			padding: 10px 10px 0;
			border-radius: 5px;
			display: inline-block;

			p {
				margin-top: 5px;
				font-size: 2em;
			}
		}

		.col-content {
			margin: 0 auto;
			color: $white;
			padding: 0 30px;
			text-align: left;
		}

		.col-md-3 {
			margin-bottom: 30px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
 	}

 	&.how-it-works-introduction {
 		background-color: $color1;
 		color: $black;

 		p {
 			margin: 0;
 			font-size: 1em;
 		}
 	}

 	&.call-to-action {
 		background-color: $color2;

 		.section-title {
 			color: $color1;

 			span {
 				color: $white
 			}
 		}

 		a {
 			display: block;
 			text-align: center;
 			// margin: auto;
 		}
 	}

 	&.faqs {
 		.section-title {
 			color: $black;

 			span {
 				color: $color1;
 			}
 		}

 		.faq {
 			padding: 10px;
 			margin: 0;

 			&.faq-question {
 				background-color: $color2;
 				color: $color1;
 				letter-spacing: 0.6px;

 				&:before {
 					content: 'Q: '
 				}
 			}

 			&.faq-answer {
 				background-color: $color1;
 				color: $black;
 				margin-bottom: 30px;

 				&:before {
 					content: 'A: '
 				}

 				&:last-of-type {
 					margin-bottom: 0;
 				}

 				a {
 					text-decoration: none;
 					color: $black;
 					font-weight: bold;
 				}
 			}
 		}
 	}

 	&.about-originator {
 		background-color: $color1;

 		article.section-content {
 			color: $black
 		}
 	}

 	&.about-programs {
 		background-color: $white;

 		article.section-content {
 			color: $black
 		}
 	}

 	&.terms {
 		color: $black;

 		article.section-content {
 			padding: 0 30px;

 			ol {
 				list-style-type: decimal;
 			}

 			ul {
 				list-style-type: disc;
 			}
 		}
 	}

 	&.support, &.register, &.login, &.forgot {
 		background-color: $color1;

 		form {
 			@include MQ(M) {
 				width: 50%;
 				margin-left: 25%;
 			}

 			.form-submessage {
 				margin: 30px auto -20px;
 			}

 			a.forgot-link {
 				color: $color1;
 				font-family: $headerFont;
 			}
 		}
 	}
 }