/* ===========================
   Base
   =========================== */

body {
	font-family: $bodyFont;
    @include font-smoothing;
    font-size: 13px;
    letter-spacing: 0.2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

::selection {
    background-color: $color4;
    color: $color1;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-left: 1px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;

    @include MQ(L) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.has-no-padding {
    padding: 0 !important;

    @include MQ(M) {
        padding: 0 !important;
    };
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
        padding-right: 15px;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
        padding-right: 15px;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
        padding-right: 15px;
    }
}