body{
    font-family: $bodyFont;
    // height: 100vh;
    // width: 100vw;
    // max-width: 100%;
    // max-height: 100%;
    // margin: 0;
    // padding: 0;
    @include font-smoothing;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

.fgWhite {
    color: $colorWhite
}

.bgWhite {
    background-color: $colorWhite
}

.fgWhiteTrans {
    color: $colorWhiteTrans
}

.bgWhiteTrans {
    background-color: $colorWhiteTrans
}

.fgPrimary {
    color: $colorPrimary
}

.bgPrimary {
    background-color: $colorPrimary
}

.fgPrimaryTrans {
    color: $colorPrimaryTrans
}

.bgPrimaryTrans {
    background-color: $colorPrimaryTrans
}

.fgAccent{
    color: $colorAccent
}

.bgAccent{
    background-color: $colorAccent
}

.fgAccentTrans{
    color: $colorAccentTrans
}

.bgAccentTrans{
    background-color: $colorAccentTrans
}

.fgGray {
    color: $colorGray
}

.bgGray {
    background-color: $colorGray
}

.fgDarkGray {
    color: $colorDarkGray
}

.bgDarkGray {
    background-color: $colorDarkGray;
}

.fgTrans {
    color: $colorTrans
}

.bgTrans {
    background-color: $colorTrans;
}

//Animations
