@charset "utf-8";

//  Responsive breakpoints
$S: 480px; // Small phones Styles are written for this breakpoint by default, so no need to specify it.
$M: 768px; // Phablets
$L: 992px; // 10" Tablets and desktops
$XL: 1200px; // 10" Tablets and desktops..

//  Colors
$colorOpacity   : 0.8;
$colorPrimary   : rgba(34,34,34,$colorOpacity);
$colorDefault   : rgba(34,34,34,1);
$colorAccent    : rgba(175,31,60,$colorOpacity);
$colorBlack     : rgba(0,0,0,$colorOpacity);
$colorWhite     : rgba(255,255,255,1);
$colorWhiteTrans : rgba(255,255,255,$colorOpacity);
$colorGray      : rgba(249,249,249,$colorOpacity);
$colorDarkGray  : rgba(206,206,206,$colorOpacity);
$colorTrans     : rgba(0,0,0,0.2);

//  Fonts
$bodyFont: 'opensans-regular-webfont',Open Sans, sans-serif;
$headerFont: "opensans-bold-webfont", Open Sans, sans-serif;

//  Font Sources

@font-face {
    font-family: 'opensans-bold-webfont';
    src: url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans-regular-webfont';
    src: url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans-light-webfont';
    src: url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
