@charset "utf-8";

// colors
$brand_primary: #128A4B; //Green;
$brand_accent: #ffd24f; //Orange; 
$brand_inverse: #F91018; // red 
$brand_black: #424242; // red_hover  
$color_white: #FFFFFF; // White
$color_text: #323232; // text color
$color_fb: #3a5795; // Facebook color
$color_tw: #64acfe; // Twitter color
$color_ig: #125688;
$color_grey_dark: #777777;
$color_grey_light: #ccc;
$border_grey: #ddd;
$border_grey_light: #eee;
$border_grey_dark: #999;

$font_regular: 'proxima_nova_regular',Open Sans, sans-serif;
$font_bold: "proxima_nova_bold", Open Sans, sans-serif;
