body{
    font-family: $bodyFont;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    @include font-smoothing;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

.fgWhite {
    color: $colorWhite
}

.bgWhite {
    background-color: $colorWhite
}

.fgPrimary {
    color: $colorPrimary
}

.bgPrimary {
    background-color: $colorPrimary
}

.fgAccent{
    color: $colorAccent
}

.bgAccent{
    background-color: $colorAccent
}

.fgDark {
    color: $colorDark
}

.bgDark {
    background-color: $colorDark
}
