.footerContent {
        width: 100%;

        .row {
            .footerItem {
                padding: 10px auto;
                margin: 30px auto;

                .footerImg {
                    height: 100px;
                    width: auto
                }

                a {
                    text-decoration: none;
                    color: $colorDarkGray;

                    p {
                        margin: 0;
                        padding: 5px 0;
                    }
                }
                a:after {
                    content: '';
                    width: 0px;
                    height: 3px;
                    margin: auto;
                    background-color: $colorTrans;
                    display: block;
                    margin-top: -5px;
                    transition: width 0.4s;
                }
                a:hover:after {
                    width: 30px;
                    background-color: $colorAccent;
                }
            }
        }
    }
