body{
    font-family: $bodyFont;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    @include font-smoothing;
    background-image: url('../img/bg-stripes.png');
    background-repeat: repeat;
    background-color: $colorPrimary;

    ::selection {
        background-color: $colorAccent;
        color: $colorWhite;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
    text-shadow: 0px 0px 5px $colorDark;
}

h3 {
    font-size: 1.4em;
}

.fgWhite {
    color: $colorWhite
}

.bgWhite {
    background-color: $colorWhite
}

.fgPrimary {
    color: $colorPrimary
}

.bgPrimary {
    background-color: $colorPrimary
}

.fgAccent{
    color: $colorAccent
}

.bgAccent{
    background-color: $colorAccent
}

.fgDark {
    color: $colorDark
}

.bgDark {
    background-color: $colorDark
}

.fgGray {
    color: $colorGray
}

.bgGray {
    background-color: $colorGray
}

.fgDarkGray {
    color: $colorDarkGray
}

.bgDarkGray {
    background-color: $colorDarkGray;
}

.fgLightDark {
    color: $colorLightDark
}

.bgLightDark {
    background-color: $colorLightDark
}

.containerWrapper {
    width: 100%;
    @include MQ(M){
        width: 86%;
        margin-left: 7%;
    }
}

.buttonBase {
    width: 130px;
    height: 40px;
    padding: 5px auto;
    border-radius: 20px;
    transition: all 0.4s;
}

.buttonBase:focus {
    outline: none
}

.outlineButton {
    @extend .buttonBase;
    color: $colorWhite;
    background-color: $colorTrans;
    border: solid 1px $colorWhite;
}

.filledButton {
    @extend .buttonBase;
    border: none
}

.filledButton:hover {
    opacity: 0.8;
}

.borderedBox {
    padding: 5px 20px 20px;
    border: solid 1px $colorDarkTrans;
    background: url('../img/bg-noise.png') repeat $colorDark;
    border-radius: 10px;
    box-shadow: 0px 0px 5px $colorDark
}

.itemTitle {
    width: 100%;
    height: 70px;
    background: url('../img/double-line-white.png') center repeat-x;
    h1 {
        background-color: $colorDark;
        font-size: 2em;
        display: inline-block;
        padding: 0 10px;
    }
}

.h0 {
    font-size: 350%
}

.bold {
    font-weight: bold;
    letter-spacing: 0.05em;
}
