@charset "utf-8";

//  Responsive breakpoints
$S: 480px; // Small phones Styles are written for this breakpoint by default, so no need to specify it.
$M: 768px; // Phablets
$L: 992px; // 10" Tablets and desktops
$XL: 1200px; // 10" Tablets and desktops..

//  Colors
$colorPrimary   : #594736;
$colorAccent    : #da5f1f;
$colorDark      : #34271a;
$colorLightDark : darken($colorDark,8%);
$colorBlack     : #000000;
$colorWhite     : #ffffff;
$colorGray      : #f9f9f9;
$colorDarkGray  : #cecece;
$colorTrans     : rgba(255,255,255,0);
$colorDarkTrans : rgba(255,255,255,0.2);
$colorDarkTrans2: rgba(255,255,255,0.3);

//  Fonts
$bodyFont: 'proxima_novaregular',Open Sans, sans-serif;
$bodyFontLight: 'proxima_novalight',Open Sans, sans-serif;
$headerFont: 'Oswald',bebasneue,proxima_novabold, Open Sans, sans-serif;


//  WebFonts
@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proximanova-bold-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald.ttf');
    font-weight: 400;
    font-style: normal;
}
