// compileExpanded: ../css/style.css
@import "partials/variables.scss";
@import "partials/mixins.scss";
@import "partials/base.scss";
@import "partials/navigation.scss";

.buttonBase {
    width: 160px;
    height: 40px;
    padding: 5px auto;
    border-radius: 20px;
    font-size: 12px
}

.buttonBase:focus {
    outline: none;
}

.outlineButton {
    @extend .buttonBase;
    color: $colorWhite;
    background-color: $colorTrans;
    border: solid 1px $colorWhite
}

.filledButton {
    @extend .buttonBase;
    box-shadow: 0px 0px 0px transparentize($colorDark, 0.7);
    border: none;
    transition: transform 0.3s, box-shadow 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 4px 5px transparentize($colorDark, 0.7);
    }
}

.userItem {
  height: 70px;
  width: 300px;
  margin: 0 10px 10px 0;
  background-color: $colorDarkGray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: background-color 0.3s ease-in;
  box-shadow: 0px 3px 5px rgba(34,34,34,0.1);

  .userIconWrapper {
    height: 70px;
    width: 70px;
    display: inline;
    float: left;

    .userIcon {
      width: 40px;
      height: 40px;
      margin: 15px;
      display: block;
      border-radius: 20px;
      background-color: $colorGray;

      img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin: 5px;
      }
    }
  }

  .userNameWrapper {
    width: 190px;
    height: 70px;
    display: inline;
    float: left;

    .userName {
      font-size: 12px;
      line-height: 1;
      display: block;
      @include center(y);
    }
  }

  .actionButtonWrapper {
    width: 40px;
    height: 70px;
    display: inline;
    float: left;
    box-sizing: border-box;
    // border-left: dotted 2px $colorGray;

    .menuTrigger {
      width: 5px;
      height: 25px;
      margin: 22.5px 17.5px;
      display: block;
      cursor: pointer;

      .box {
        width: 5px;
        height: 5px;
        border-radius:5px;
        margin-bottom: 5px;
        background-color: $colorAccent;
      }

      .box:last-of-type {
        margin-bottom: 0;
      }
    }

    .menuBox {
      position: absolute;
      top: 35px;
      right: 24px;
      z-index: +2;
      box-shadow: 0px 3px 5px rgba(34,34,34,0.1);

      li {
        width: 100%;
        text-align: center;
        list-style: none;
        padding: 10px;
        line-height: 1;
        background-color: $colorGray;
        border-bottom: solid 2px darken($colorGray, 3);
        transition: background-color 0.3s ease;

        &:first-of-type {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        &:last-of-type {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom: none;
        }

        &:hover {
          background-color: darken($colorGray, 3);
        }
      }
    }
  }

  &:hover {
    background-color: lighten($colorDarkGray, 3)
  }
}

.clientUserItem {
  border-bottom: solid 2px $colorSuccess;
}

.designerUserItem {
  border-bottom: solid 2px $colorAccent;
}

.approved:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: $colorSuccess;
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
}

.unapproved {
  opacity: 0.5
}

.imageItem {
  width: 100px;
  height: 125px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s, transform 0.5s ease;

  &:hover {
    transform: scale(0.95,0.95);
  }

  .top {
    width: 100px;
    height: 100px;
    background-color: $colorDarkGray;

    .imageElement {
      width: 80px;
      height: 80px;
      margin: 10px;
    }
  }

  .bottom {
    width: 100px;
    height: 25px;
    background-color: $colorGray;
    border-top: dashed 2px $colorDarkGray;

    .polka {
      display: inline;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      float: right;
      margin-right: 2px;
      margin-top: 10px;

      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
}

.indexPage {
  .bodyDivision {
    display: flex;

    .loginWrapper {
      width: 300px;
      height: 350px;
      margin: auto;
      background-color: $colorDark;
      border-radius: 5px;
      box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
      overflow: hidden;

      .loginTop {
        width: 100%;
        height: 80%;
        display: block;
        // padding-top: 1px;
        // margin-top: -1px;
        overflow: auto;
        background-color: $colorDarkGray;
        box-shadow: 0px 5px 20px $colorDark;
        border-bottom: dashed 2px $colorGray;

        .loginIcon {
          margin: 30px auto;
          display: block;
          width: 70px;
          height: 70px;
          border-radius: 50px;
          background-color: $colorGray;
          background-image: url('../img/icon.login.png');
          background-size: 45%;
          background-position: center;
          background-repeat: no-repeat;
        }

        .loginForm {
          width: 80%;
          margin: 45px auto 0;

          input {
            width: 100%;
            font-size: 13px;
            height: 40px;
            border-radius: 40px;
            padding-left: 15px;
            margin: 8px 0;
            color: $colorWhite;
            background-color: $colorDark;
            outline: none;
            border: none;
          }
        }
      }

      .loginBottom {
        width: 100%;
        height: 20%;
        display: block;
        background-color: $colorGray;
        padding: 15px 70px;
        // border-bottom: solid 2px $colorSuccess;
      }
    }
  }
}

.dashboardPage {
  .tasksWrapper {
    width: 100%;
    height: 350px;
    margin: auto;

    .task {
      width: calc(100% / 3);
      height: 350px;
      float: left;
      background-color: $colorDark;

      .taskTop {
        width: 300px;
        margin: auto;
        height: 80%;
        background-color: $colorDarkGray;
        display: block;
        border-bottom: dashed 2px $colorGray;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: auto;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
        pointer-events: none;

        .taskIcon {
          margin: 30px auto;
          display: block;
          width: 120px;
          height: 120px;
          border-radius: 70px;
          background-color: $colorGray;

          img {
            width: 80px;
            height: 80px;
            margin: 20px;
          }
        }

        .taskTitle {
          font-family: $headerFont;
          font-size: 22px;
          text-align: center;
          // color: $colorWhite
        }

        .taskSubtitle {
          color: $colorWhite;
          font-size: 12px;
          text-align: center;
          width: 80%;
          margin:auto;
          line-height: 1.2;
        }
      }

      .taskBottom {
        width: 300px;
        margin: auto;
        height: 20%;
        display: block;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
      }
    }

    .task > div {
      width: 300px;
      margin: auto;
      height: 100%;
      cursor: pointer;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0);
      transition: box-shadow 0.5s, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .task > div:hover {
      transform: translateY(-20px);
      box-shadow: 0px 24px 20px rgba(0, 0, 0, 0.2);

    }
  }
}

.jobMgmtPage {
  .mainBody {
    .subHeader {
      width: 100%;
      height: 70px;
      display: block;
      position: relative;
      z-index: +1;
      background-color: $colorAccent;
      box-shadow: 0px 5px 20px $colorDark;
      overflow: auto;

      .subHeaderLink {
        font-size: 12px;
        font-family: $headerFont;
        line-height: 1;
        color: $colorDark;
        display: inline-block;
        margin: 15px 20px 15px 0;
        background-color: transparentize($colorGray, 0.8);
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s ease-out;
      }

      .subHeaderLink:first-of-type{
        margin-left: 75px
      }

      .subHeaderLink:hover {
        background-color: $colorGray;
        color: $colorWhite;
      }

      .active {
        color: $colorWhite;
        border: solid 2px transparentize($colorGray, 0.4);
        background-color: transparentize($colorGray, 0.2);
      }
    }

    .bodyContentsWrapper {
      width: 100%;
      height: calc(100% - 70px);
      display: block;
      overflow: hidden;

      .bodyContents {
        width: calc(100% - 145px);
        margin: 30px 70px 30px 75px;
      }

      .pendingProjectsBody {
        .tableWrapper {
          .tableHeader {
            color: darken($colorWhite, 20);
            font-family: $bodyFont;
            font-size: 11px;
            margin: 0;
          }

          .tableBody {
            cursor: pointer;
            @extend .tableHeader;
            color: $colorWhite;
            position: relative;
            height: 70px;
            width: 100%;
            background-color: $colorGray;
            border-radius: 3px;
            margin: 15px 0  0;
            transition: background-color 0.3s ease-in;
            box-shadow: 0px 3px 5px rgba(34,34,34,0.1);

            .titleColumn, .clientColumn, .dateColumn, .bidsColumn, .progressColumn {
              @include center(y)
            }

            .actionColumn {
              .deleteButton {
                width: 30px;
                height: 30px;
                display: block;
                border-radius: 15px;
                margin-top: 20px;
                background-color: $colorDarkGray;
                background-image: url('../img/icon.delete.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                transition: transform 0.3s, background-color 0.3s ease-out;

                &:hover {
                  transform: scale(1.05, 1.05);
                  background-color: lighten($colorDarkGray, 5);
                }
              }
            }

            .rowIndicator {
              position: absolute;
              top: 0px;
              left: 0px;
              height: 70px;
              width: 3px;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }

            .rowBidding {
              @extend .rowIndicator;
              background-color: $colorWhite
            }

            .rowPending {
              @extend .rowIndicator;
              background-color: $colorAccent
            }

            .rowCompleted {
              @extend .rowIndicator;
              background-color: $colorSuccess
            }

            .clientImage {
              width: 30px;
              height: 30px;
              display: inline-block;
              border-radius: 15px;
              background-color: $colorDarkGray;
              float: left;

              img {
                width: 24px;
                height: 24px;
                margin: 3px;
                border-radius: 10px;
              }
            }

            .clientImage + .client {
              display: inline-block;
              margin-left: 10px;
              height: 30px;
              padding-top: 9.5px;
              line-height: 1;
              float: left;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            .progressAmount {
              display: inline-block;
              width: 30px;
            }

            .progressIndicator {
              display: inline-block;
              position: relative;
              width: 200px;
              height: 5px;
              margin-left: 10px;
              margin-top: 4.5px;
              vertical-align: top;

              .progressBase {
                width: 100%;
                height: 100%;
                background-color: lighten($colorGray, 10);
                border-radius: 10px;
              }

              .progressCurrent {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
                transition: width 0.8s ease;
                // margin-top: -5px;
              }

              .progressBidding {
                background-color: $colorWhite
              }

              .progressPending {
                background-color: $colorAccent
              }

              .progressCompleted {
                background-color: $colorSuccess
              }
            }
          }

          .tableBody:hover {
            background-color: lighten($colorGray, 3)
          }
        }
      }

      .ongoingProjectsBody {
        .tableWrapper {
          .tableHeader {
            color: darken($colorWhite, 20);
            font-family: $bodyFont;
            font-size: 11px;
            margin: 0;
          }

          .tableBody {
            cursor: pointer;
            @extend .tableHeader;
            color: $colorWhite;
            position: relative;
            height: 70px;
            width: 100%;
            background-color: $colorGray;
            border-radius: 3px;
            margin: 15px 0  0;
            transition: background-color 0.3s ease-in;
            box-shadow: 0px 3px 5px rgba(34,34,34,0.1);

            .titleColumn, .clientColumn, .dateColumn, .statusColumn, .progressColumn {
              @include center(y)
            }

            .actionColumn {
              .deleteButton {
                width: 30px;
                height: 30px;
                display: block;
                border-radius: 15px;
                margin-top: 20px;
                background-color: $colorDarkGray;
                background-image: url('../img/icon.delete.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: transform 0.3s, background-color 0.3s ease-out;

                &:hover {
                  transform: scale(1.05, 1.05);
                  background-color: lighten($colorDarkGray, 5);
                }
              }
            }

            .rowIndicator {
              position: absolute;
              top: 0px;
              left: 0px;
              height: 70px;
              width: 3px;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }

            .rowBidding {
              @extend .rowIndicator;
              background-color: $colorWhite
            }

            .rowPending {
              @extend .rowIndicator;
              background-color: $colorAccent
            }

            .rowCompleted {
              @extend .rowIndicator;
              background-color: $colorSuccess
            }

            .clientImage {
              width: 30px;
              height: 30px;
              display: inline-block;
              border-radius: 15px;
              background-color: $colorDarkGray;
              float: left;

              img {
                width: 24px;
                height: 24px;
                margin: 3px;
                border-radius: 10px;
              }
            }

            .clientImage + .client {
              display: inline-block;
              margin-left: 10px;
              height: 30px;
              padding-top: 9.5px;
              line-height: 1;
              float: left;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            .progressAmount {
              display: inline-block;
              width: 30px;
            }

            .progressIndicator {
              display: inline-block;
              position: relative;
              width: 200px;
              height: 5px;
              margin-left: 10px;
              margin-top: 4.5px;
              vertical-align: top;

              .progressBase {
                width: 100%;
                height: 100%;
                background-color: lighten($colorGray, 10);
                border-radius: 10px;
              }

              .progressCurrent {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
                transition: width 0.8s ease;
                // margin-top: -5px;
              }

              .progressBidding {
                background-color: $colorWhite
              }

              .progressPending {
                background-color: $colorAccent
              }

              .progressCompleted {
                background-color: $colorSuccess
              }
            }
          }

          .tableBody:hover {
            background-color: lighten($colorGray, 3)
          }
        }
      }

      .singleProjectView {
        height: calc(100% - 30px);
        margin-bottom: 0;

        .backButton {
          font-size: 12px;
          font-family: $headerFont;
          line-height: 1;
          color: $colorWhite;
          float: left;
          margin: 0 0 20px;
          background-color: $colorGray;
          border: 2px solid $colorGray;
          transition: background-color 0.2s, border 0.2s, transform 0.3s, box-shadow 0.3s ease-out;

          &:hover {
            background-color: darken($colorGray, 4);
          }
        }

        .leftColumn {
          width: 60%;
          height: calc(100% - 60px);
          display: inline;
          float: left;
          clear: left;
          position: relative;
          transform: translateZ(0);

          .textHeader {
            font-family: $headerFont;
            font-size: 12px;
            margin-top: 20px;
            color: $colorAccent;
          }

          .subtextHeader {
            font-family: $bodyFont;
            font-size: 11px;
            margin-top: -5px;
            letter-spacing: 1px
          }

          .projectTitleWrapper {
            width: 100%;
            height: 70px;
            position: fixed;
            z-index: +4;
            top: 0;
            left: 0;
            background-color: $colorDarkGray;
            box-shadow: 0px 5px 5px darken($colorDark, 1);
            border-bottom: dashed 2px $colorGray;
            border-top-left-radius: 5px;

            .projectTitle {
              font-family: $headerFont;
              font-size: 12px;
              width: 100%;
              // line-height: 1;
              color: $colorWhite;
              @include center(y);
            }
          }

          .projectDetailsWrapper {
            width: 100%;
            height: calc(100% - 70px);
            color: $colorWhite;
            font-size: 12px;
            padding-right: 30px;
            margin-top: 70px;
            padding-bottom: 30px;
            overflow: auto;

            .projectDetails {
              .projectNotes {
                font-size: 11px;
                letter-spacing: 1px;
                margin-top: 10px;
                background-color: $colorGray;
                padding: 10px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
              }

              .biddingStatus:after {
                content: "•";
                color: $colorWhite;
                margin-left: 3px
              }

              .pendingStatus:after {
                content: "•";
                color: $colorAccent;
                margin-left: 3px
              }

              .completedStatus:after {
                content: "•";
                color: $colorSuccess;
                margin-left: 3px
              }

              .progressAmount {
                display: inline-block;
                width: 30px;
              }

              .progressIndicator {
                display: inline-block;
                position: relative;
                width: calc(100% - 45px);
                height: 5px;
                float: right;
                margin-left: 10px;
                margin-top: 4.5px;
                vertical-align: top;

                .progressBase {
                  width: 100%;
                  height: 100%;
                  background-color: lighten($colorGray, 10);
                  border-radius: 10px;
                }

                .progressCurrent {
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  border-radius: 10px;
                  // margin-top: -5px;
                }

                .progressBidding {
                  background-color: $colorWhite
                }

                .progressPending {
                  background-color: $colorAccent
                }

                .progressCompleted {
                  background-color: $colorSuccess
                }
              }

              .viewConversation {
                font-size: 12px;
                font-family: $headerFont;
                line-height: 1;
                color: $colorWhite;
                background-color: $colorGray;
                border: 2px solid $colorGray;
                transition: background-color 0.2s, border 0.2s, transform 0.3s, box-shadow 0.3s ease-out;

                &:hover {
                  background-color: darken($colorGray, 4);
                }
              }
            }
          }
        }

        .rightColumn {
          width: 40%;
          height: calc(100% - 60px);
          background-color: darken($colorDark, 2);
          display: inline;
          float: left;
          border-top-right-radius: 5px;

          .emptyColumn {
            width: 100%;
            height: 100%;

            .emptyContentWrapper {
              @include center(y);
              .emptyIcon {
                width: 70px;
                height: 70px;
                border-radius: 35px;
                background-color: $colorGray;
                background-image: url('../img/icon.empty.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
              }

              .emptyText {
                font-family: $headerFont;
                color: $colorGray;
                line-height: 2;
                margin: 0;
                padding: 0;
              }

              .emptySubText {
                color: $colorWhite;
                font-size: 10px;
                line-height: 1;
              }
            }
          }

          .conversationsColumn {
            width: 100%;
            height: 100%;
            padding: 0 0px 30px;
            position: relative;
            overflow: hidden;

            .conversationsTitle {
              font-family: $headerFont;
              font-size: 13px;
              color: $colorAccent;
              width: 100%;
              padding: 10px;
              position: absolute;
              z-index: +1;
              top: 0;
              left: 0;
              line-height: 1;
              background-color: darken($colorDarkGray, 0.6);
              box-shadow: 0px 5px 5px darken($colorDark, 1);
              border-bottom: dashed 2px $colorGray;
              border-top-right-radius: 5px;

              .lastActivity {
                font-family: $bodyFont;
                font-size: 10px;
                color: $colorWhite;
              }
            }

            .conversationsBox {
              width: 100%;
              height: 100%;
              padding: 30px 10px;
              margin-top: 33px;
              overflow: auto;
              background-image: url('../img/conversationsbg.jpg');

              .clientMessage {
                width: 100%;
                display: flex;

                .iconWrapper {
                  width: 70px;
                  display: inline;

                  .icon {
                    width: 50px;
                    height: 50px;
                    margin: 10px;
                    border-radius: 25px;
                    background-color: $colorGray;

                    > img {
                      width: 40px;
                      height: 40px;
                      margin: 5px;
                      border-radius: 20px;
                    }
                  }
                }

                .messageWrapper {
                  width: calc(100% - 70px);

                  .message {
                    max-width: 200px;
                    margin-top: 20px;
                    padding: 10px;
                    background-color: $colorDarkGray;
                    color: $colorWhite;
                    font-size: 11px;
                    position: relative;
                    box-shadow: 0px 4px 5px rgba(34,34,34, 0.04);
                    border-left: solid 2px $colorSuccess;
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                  }
                }
              }

              .designerMessage {
                width: 100%;
                display: flex;
                flex-direction: row-reverse;

                .iconWrapper {
                  width: 70px;
                  display: inline-block;


                  .icon {
                    width: 50px;
                    height: 50px;
                    margin: 10px;
                    border-radius: 25px;
                    background-color: $colorGray;

                    > img {
                      width: 40px;
                      height: 40px;
                      margin: 5px;
                      border-radius: 20px;
                    }
                  }
                }

                .messageWrapper {
                  width: calc(100% - 70px);

                  .message {
                    max-width: 200px;
                    margin-top: 20px;
                    padding: 10px;
                    display: inline;
                    float: right;
                    clear: left;
                    background-color: $colorDarkGray;
                    color: $colorWhite;
                    font-size: 11px;
                    position: relative;
                    box-shadow: 0px 4px 5px rgba(34,34,34, 0.04);
                    border-right: solid 2px $colorAccent;
                    border-bottom-left-radius: 10px;
                    border-top-left-radius: 10px;
                  }
                }
              }
            }
          }

          .imageViewerColumn {
            width: 100%;
            height: 100%;
            padding: 0 0px 30px;
            position: relative;
            overflow: hidden;

            .imageViewerTitle {
              font-family: $headerFont;
              font-size: 13px;
              color: $colorAccent;
              width: 100%;
              padding: 10px;
              position: absolute;
              z-index: +1;
              top: 0;
              left: 0;
              line-height: 1;
              background-color: darken($colorDarkGray, 0.6);
              box-shadow: 0px 5px 5px darken($colorDark, 1);
              border-bottom: dashed 2px $colorGray;
              border-top-right-radius: 5px;

              .sentDate {
                font-family: $bodyFont;
                font-size: 10px;
                color: $colorWhite;
              }
            }

            .imageBoxWrapper {
              width: 100%;
              height: 100%;
              padding: 30px 10px;
              margin-top: 33px;
              overflow: auto;

              .imageBox {
                width: 100%;
                height: calc(100% - 30px);
                background-image: url("../img/non-default.jpg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              }

              .imageBoxControls {
                text-align: center;
                position: absolute;
                bottom: 7px;
                left: 0;
                width: 100%;

                .previous, .next {
                  background-color: $colorGray;
                  display: inline-block;
                  width: 50px;
                  text-align: center;
                  border: 2px solid $colorGray;
                  border-radius: 50px;
                  color: $colorWhite;
                  padding: 10px;
                  cursor: pointer;
                  transition: transform 0.3s, border 0.3s ease;

                  &:hover {
                    transform: scale(0.95);
                    border: 2px solid lighten($colorGray, 3);
                  }
                }
              }
            }
          }

          .profileViewerColumn {
            width: 100%;
            height: 100%;
            text-align: center;
            border-top-right-radius: 5px;
            overflow: hidden;

            .top {
              width: 100%;
              height: calc(100% - 70px);
              background-color: $colorDarkGray;
              border-bottom: dashed 2px $colorGray;

              .profileContentWrapper {
                width: 80%;
                margin: auto 10%;
                @include center(y);

                .profileImgBg {
                  $bgSize: 250;
                  $bgSizeDiff: 10;
                  width: $bgSize * 1px;
                  height: $bgSize * 1px;
                  border-radius: $bgSize * 1px;
                  display: inline-block;
                  background-color: darken($colorGray,10);
                  margin: auto;

                  > div {
                    width: ($bgSize - $bgSizeDiff) * 1px;
                    height: ($bgSize - $bgSizeDiff) * 1px;
                    border-radius: ($bgSize - $bgSizeDiff) * 1px;
                    margin: $bgSizeDiff / 2 * 1px;
                    background-color: darken($colorGray,8);

                    > div {
                      width: ($bgSize - ($bgSizeDiff * 2)) * 1px;
                      height: ($bgSize - ($bgSizeDiff * 2)) * 1px;
                      border-radius: ($bgSize - ($bgSizeDiff * 2)) * 1px;
                      @include center(xy);
                      background-color: darken($colorGray,2);

                      > img {
                        width: ($bgSize - ($bgSizeDiff * 5)) * 1px;
                        height: ($bgSize - ($bgSizeDiff * 5)) * 1px;
                        border-radius: ($bgSize - ($bgSizeDiff * 5)) * 1px;
                        @include center(y);
                        // margin: $bgSizeDiff * 1px;
                      }
                    }
                  }
                }

                .profileName {
                  color: $colorWhite;
                  font-family: $headerFont;
                  font-size: 14px;
                  line-height: 1;
                  margin: 20px auto 8px;
                }

                .profileType {
                  color: $colorWhite;
                  font-size: 11px;
                  line-height: 1;

                  &.clientType:before {
                    content: "•";
                    color: $colorSuccess;
                    margin-right: 3px
                  }

                  &.designerType:before {
                    content: "•";
                    color: $colorAccent;
                    margin-right: 3px
                  }
                }
              }
            }

            .middle {
              width: 100%;
              height: 60px;
              background-color: $colorGray;

              .left, .right {
                display: inline;
                float: left;
                width: 50%;
                height: 100%;

                .title {
                  font-family: $bodyFont;
                  font-size: 10px;
                  color: $colorWhite;
                  line-height: 1;
                  padding: 0;
                  margin: 15px 0 5px;
                }

                .subTitle {
                  font-family: $headerFont;
                  // color: $colorWhite;
                  font-size: 18px;
                  line-height: 1;
                  padding: 0;
                  margin: 0;
                }
              }
            }

            .bottom {
              width: 100%;
              height: 10px;
            }
          }
        }
      }
    }
  }
}

.userMgmtPage {
  .mainBody {
    .subHeader {
      width: 100%;
      height: 70px;
      display: block;
      position: relative;
      z-index: +1;
      background-color: $colorAccent;
      box-shadow: 0px 5px 20px $colorDark;
      overflow: auto;

      .subHeaderLink {
        font-size: 12px;
        font-family: $headerFont;
        line-height: 1;
        color: $colorDark;
        display: inline-block;
        margin: 15px 20px 15px 0;
        background-color: $colorTrans;
        border: solid 2px transparentize($colorGray, 0.8);
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s ease-out;
      }

      .subHeaderLink:first-of-type{
        margin-left: 75px
      }

      .subHeaderLink:hover {
        background-color: $colorGray;
        color: $colorWhite;
      }

      .active {
        color: $colorWhite;
        border: solid 2px transparentize($colorGray, 0.4);
        background-color: transparentize($colorGray, 0.2);
      }
    }

    .bodyContentsWrapper {
      width: 100%;
      height: calc(100% - 70px);
      display: block;
      overflow: auto;

      .bodyContents {
        width: calc(100% - 145px);
        margin: 30px 70px 30px 75px;
      }

      .mainUserView {
        height: calc(100% - 30px);
        margin-bottom: 0;


        .leftColumn {
          width: 60%;
          height: 100%;
          display: inline;
          float: left;
          position: relative;
          transform: translateZ(0);

          .textHeader {
            font-family: $headerFont;
            font-size: 12px;
            margin-top: 20px;
            color: $colorAccent;
          }

          .subtextHeader {
            font-family: $bodyFont;
            font-size: 11px;
            margin-top: -5px;
            letter-spacing: 1px
          }

          .userListWrapper {
            width: 100%;
            height: 100%;
            color: $colorWhite;
            font-size: 12px;
            padding-right: 30px;
            // margin-top: 70px;
            padding-bottom: 30px;
            overflow: auto;

            .userList {
              .searchBoxWrapper {
                width: 100%;
                height: 60px;
                background-color: $colorDarkGray;
                border-radius: 30px;
                display: block;
                margin: 30px 0 40px;

                .searchQuery {
                  width: calc(100% - 60px);
                  height: 40px;
                  font-size: 13px;
                  display: inline;
                  float: left;
                  border-top-left-radius: 20px;
                  border-bottom-left-radius: 20px;
                  padding-left: 15px;
                  margin: 10px 0 10px 10px;
                  color: $colorWhite;
                  background-color: $colorDark;
                  outline: none;
                  border: none;
                }

                .searchIcon {
                  width: 40px;
                  height: 40px;
                  background-color: $colorAccent;
                  margin: 10px 10px 10px 0;
                  position: relative;
                  display: inline;
                  float: left;
                  border-top-right-radius: 20px;
                  border-bottom-right-radius: 20px;
                  transition: background-color 0.3s ease;
                  cursor: pointer;

                  &:hover {
                    background-color: darken($colorAccent, 6);
                  }

                  &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 7px;
                    left: 7px;
                    border-radius: 20px;
                    width: 20px;
                    height: 20px;
                    border: solid 3px $colorWhite;
                  }

                  &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 8px;
                    height: 3px;
                    border-radius: 8px;
                    background-color: $colorWhite;
                    bottom: 12px;
                    right: 10px;
                    transform: rotate(45deg);
                  }
                }
              }

              .biddingStatus:after {
                content: "•";
                color: $colorWhite;
                margin-left: 3px
              }

              .pendingStatus:after {
                content: "•";
                color: $colorAccent;
                margin-left: 3px
              }

              .completedStatus:after {
                content: "•";
                color: $colorSuccess;
                margin-left: 3px
              }

              .progressAmount {
                display: inline-block;
                width: 30px;
              }

              .progressIndicator {
                display: inline-block;
                position: relative;
                width: calc(100% - 45px);
                height: 5px;
                float: right;
                margin-left: 10px;
                margin-top: 4.5px;
                vertical-align: top;

                .progressBase {
                  width: 100%;
                  height: 100%;
                  background-color: lighten($colorGray, 10);
                  border-radius: 10px;
                }

                .progressCurrent {
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  border-radius: 10px;
                  // margin-top: -5px;
                }

                .progressBidding {
                  background-color: $colorWhite
                }

                .progressPending {
                  background-color: $colorAccent
                }

                .progressCompleted {
                  background-color: $colorSuccess
                }
              }
            }
          }
        }

        .rightColumn {
          width: 40%;
          height: 100%;
          background-color: darken($colorDark, 2);
          display: inline;
          float: left;
          border-top-right-radius: 5px;

          .emptyColumn {
            width: 100%;
            height: 100%;

            .emptyContentWrapper {
              @include center(y);
              .emptyIcon {
                width: 70px;
                height: 70px;
                border-radius: 35px;
                background-color: $colorGray;
                display: inline-block;
                background-image: url('../img/icon.empty.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              }

              .emptyText {
                font-family: $headerFont;
                color: $colorGray;
                line-height: 2;
                margin: 0;
                padding: 0;
              }

              .emptySubText {
                color: $colorWhite;
                font-size: 10px;
                line-height: 1;
              }
            }
          }

          .profileViewerColumn {
            width: 100%;
            height: 100%;
            text-align: center;
            border-top-right-radius: 5px;
            overflow: hidden;

            .top {
              width: 100%;
              height: calc(100% - 70px);
              background-color: $colorDarkGray;
              border-bottom: dashed 2px $colorGray;

              .profileContentWrapper {
                width: 80%;
                margin: auto 10%;
                @include center(y);

                .profileImgBg {
                  $bgSize: 250;
                  $bgSizeDiff: 10;
                  width: $bgSize * 1px;
                  height: $bgSize * 1px;
                  border-radius: $bgSize * 1px;
                  display: inline-block;
                  background-color: darken($colorGray,10);
                  margin: auto;

                  > div {
                    width: ($bgSize - $bgSizeDiff) * 1px;
                    height: ($bgSize - $bgSizeDiff) * 1px;
                    border-radius: ($bgSize - $bgSizeDiff) * 1px;
                    margin: $bgSizeDiff / 2 * 1px;
                    background-color: darken($colorGray,8);

                    > div {
                      width: ($bgSize - ($bgSizeDiff * 2)) * 1px;
                      height: ($bgSize - ($bgSizeDiff * 2)) * 1px;
                      border-radius: ($bgSize - ($bgSizeDiff * 2)) * 1px;
                      @include center(xy);
                      background-color: darken($colorGray,2);

                      > img {
                        width: ($bgSize - ($bgSizeDiff * 5)) * 1px;
                        height: ($bgSize - ($bgSizeDiff * 5)) * 1px;
                        border-radius: ($bgSize - ($bgSizeDiff * 5)) * 1px;
                        @include center(y);
                        // margin: $bgSizeDiff * 1px;
                      }
                    }
                  }
                }

                .profileName {
                  color: $colorWhite;
                  font-family: $headerFont;
                  font-size: 14px;
                  line-height: 1;
                  margin: 20px auto 8px;
                }

                .profileType {
                  color: $colorWhite;
                  font-size: 11px;
                  line-height: 1;

                  &.clientType:before {
                    content: "•";
                    color: $colorSuccess;
                    margin-right: 3px
                  }

                  &.designerType:before {
                    content: "•";
                    color: $colorAccent;
                    margin-right: 3px
                  }
                }
              }
            }

            .middle {
              width: 100%;
              height: 60px;
              background-color: $colorGray;

              .left, .right {
                display: inline;
                float: left;
                width: 50%;
                height: 100%;

                .title {
                  font-family: $bodyFont;
                  font-size: 10px;
                  color: $colorWhite;
                  line-height: 1;
                  padding: 0;
                  margin: 15px 0 5px;
                }

                .subTitle {
                  font-family: $headerFont;
                  // color: $colorWhite;
                  font-size: 18px;
                  line-height: 1;
                  padding: 0;
                  margin: 0;
                }
              }
            }

            .bottom {
              width: 100%;
              height: 10px;
            }
          }
        }
      }
    }
  }
}

.cashMgmtPage {
  .mainBody {
    .subHeader {
      width: 100%;
      height: 70px;
      display: block;
      position: relative;
      z-index: +1;
      background-color: $colorAccent;
      box-shadow: 0px 5px 20px $colorDark;
      overflow: auto;

      .subHeaderLink {
        font-size: 12px;
        font-family: $headerFont;
        line-height: 1;
        color: $colorDark;
        display: inline-block;
        margin: 15px 20px 15px 0;
        background-color: transparentize($colorGray, 0.8);
        transition: background-color 0.2s, transform 0.3s, box-shadow 0.3s ease-out;
      }

      .subHeaderLink:first-of-type{
        margin-left: 75px
      }

      .subHeaderLink:hover {
        background-color: $colorGray;
        color: $colorWhite;
      }

      .active {
        color: $colorWhite;
        border: solid 2px transparentize($colorGray, 0.4);
        background-color: transparentize($colorGray, 0.2);
      }
    }

    .bodyContentsWrapper {
      width: 100%;
      height: calc(100% - 70px);
      display: block;
      overflow: auto;

      .bodyContents {
        width: calc(100% - 145px);
        margin: 30px 70px 30px 75px;
      }

      .mainCashMgmtView {
        .cashBalance {
          color: $colorWhite;
          font-size: 52px;
          font-family: $headerFont;
          margin: 10px auto 60px;
          line-height: 1;

          + h6 {
            margin-left: 30px;
            margin-bottom: 20px;
            width: 100%;
          }
        }
        .tableWrapper {
          width: 100%;

          .tableHeader {
            color: darken($colorWhite, 20);
            font-family: $bodyFont;
            font-size: 11px;
            margin: 0;
          }

          .tableBody {
            // cursor: pointer;
            @extend .tableHeader;
            color: $colorWhite;
            position: relative;
            height: 70px;
            width: 100%;
            background-color: $colorGray;
            border-radius: 3px;
            margin: 15px 0  0;
            transition: background-color 0.3s ease-in;
            box-shadow: 0px 3px 5px rgba(34,34,34,0.1);

            .userColumn, .amountColumn, .dateColumn, .timeColumn, .typeColumn {
              @include center(y)
            }

            .rowIndicator {
              position: absolute;
              top: 0px;
              left: 0px;
              height: 70px;
              width: 3px;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }

            .rowDebit {
              @extend .rowIndicator;
              background-color: $colorFailure
            }

            .rowCredit {
              @extend .rowIndicator;
              background-color: $colorSuccess
            }

            .userImage {
              width: 30px;
              height: 30px;
              display: inline-block;
              border-radius: 15px;
              background-color: $colorDarkGray;
              float: left;
              cursor: pointer;

              img {
                width: 24px;
                height: 24px;
                margin: 3px;
                border-radius: 10px;
              }
            }

            .userImage + .user {
              display: inline-block;
              margin-left: 10px;
              height: 30px;
              padding-top: 9.5px;
              line-height: 1;
              float: left;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .requestsView {
        .cashBalance {
          color: $colorWhite;
          font-size: 52px;
          font-family: $headerFont;
          margin: 10px auto 60px;
          line-height: 1;

          + h6 {
            margin-left: 30px;
            margin-bottom: 20px;
            width: 100%;
          }
        }
        .tableWrapper {

          .tableHeader {
            color: darken($colorWhite, 20);
            font-family: $bodyFont;
            font-size: 11px;
            margin: 0;
          }

          .tableBody {
            @extend .tableHeader;
            color: $colorWhite;
            position: relative;
            height: 70px;
            width: 100%;
            background-color: $colorGray;
            border-radius: 3px;
            margin: 15px 0  0;
            transition: background-color 0.3s ease-in;
            box-shadow: 0px 3px 5px rgba(34,34,34,0.1);

            .userColumn, .amountColumn, .dateColumn {
              @include center(y)
            }

            .actionColumn {
              .actionButton {
                width: 30px;
                height: 30px;
                display: inline-block;
                border-radius: 15px;
                margin-top: 20px;
                position: relative;
                cursor: pointer;
                background-size: 80%;
                background-repeat: no-repeat;
                background-position: center;
              }
              .approveButton {
                @extend .actionButton;
                background-color: $colorSuccess;
                background-image: url('../img/icon.confirm.png');
                transition: transform 0.3s ease-out;

                &:hover {
                  transform: scale(1.05, 1.05);
                }
              }

              .rejectButton {
                @extend .actionButton;
                background-color: $colorFailure;
                margin-left: 30px;
                background-image: url('../img/icon.cancel.png');
                transition: transform 0.3s, ease-out;

                &:hover {
                  transform: scale(1.05, 1.05);
                }
              }
            }

            .rowIndicator {
              position: absolute;
              top: 0px;
              left: 0px;
              height: 70px;
              width: 3px;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }

            .rowPending {
              @extend .rowIndicator;
              background-color: $colorWhite;
            }

            .userImage {
              width: 30px;
              height: 30px;
              display: inline-block;
              border-radius: 15px;
              background-color: $colorDarkGray;
              float: left;

              img {
                width: 24px;
                height: 24px;
                margin: 3px;
                border-radius: 10px;
              }
            }

            .userImage + .user {
              display: inline-block;
              margin-left: 10px;
              height: 30px;
              padding-top: 9.5px;
              line-height: 1;
              float: left;
              cursor: pointer;

              &:hover {
                text-decoration: underline
              }
            }
          }
        }
      }
    }
  }
}
