@font-face {
  font-family: 'opensans-bold-webfont';
  src: url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-regular-webfont';
  src: url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-light-webfont';
  src: url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "opensans-regular-webfont", Open Sans, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "opensans-bold-webfont", Open Sans, sans-serif;
}

.fgWhite {
  color: white;
}

.bgWhite {
  background-color: white;
}

.fgWhiteTrans {
  color: rgba(255, 255, 255, 0.7);
}

.bgWhiteTrans {
  background-color: rgba(255, 255, 255, 0.7);
}

.fgPrimary {
  color: #222222;
}

.bgPrimary {
  background-color: #222222;
}

.fgPrimaryTrans {
  color: rgba(34, 34, 34, 0.7);
}

.bgPrimaryTrans {
  background-color: rgba(34, 34, 34, 0.7);
}

.fgAccent {
  color: #af1f3c;
}

.bgAccent {
  background-color: #af1f3c;
}

.fgAccentTrans {
  color: rgba(175, 31, 60, 0.7);
}

.bgAccentTrans {
  background-color: rgba(175, 31, 60, 0.7);
}

.fgGray {
  color: rgba(249, 249, 249, 0.7);
}

.bgGray {
  background-color: rgba(249, 249, 249, 0.7);
}

.fgDarkGray {
  color: rgba(206, 206, 206, 0.7);
}

.bgDarkGray {
  background-color: rgba(206, 206, 206, 0.7);
}

.fgTrans {
  color: rgba(0, 0, 0, 0.2);
}

.bgTrans {
  background-color: rgba(0, 0, 0, 0.2);
}

.buttonBase, .outlineButton, .filledButton {
  width: 130px;
  height: 40px;
  padding: 5px 0;
  border-radius: 0px;
  font-size: 13px;
  transition: box-shadow 0.45s;
}

.buttonBase:focus, .outlineButton:focus, .filledButton:focus {
  outline: none;
}

.buttonBase:hover, .outlineButton:hover, .filledButton:hover {
  box-shadow: 0 0 20px rgba(34, 34, 34, 0.3);
}

.outlineButton {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px white;
}

.filledButton {
  border: none;
}

body {
  background: url("../img/web.acga9.image.background.jpg") center;
}

body .indexPage {
  width: 100vw;
  height: 100vh;
  display: flex;
}

body .indexPage .loginWrapper {
  padding: 40px;
  width: 90%;
  margin: auto;
  box-shadow: 0 0 20px rgba(34, 34, 34, 0.3);
  /* Tablets and phablets */
}

@media only screen and (min-width: 768px) {
  body .indexPage .loginWrapper {
    width: 350px;
    padding: 50px;
  }
}

body .indexPage .loginWrapper .brandLogo {
  text-align: center;
  width: 64px;
  display: block;
  height: auto;
  margin: 0 auto 50px;
}

body .indexPage .loginWrapper .brandLogo + div {
  margin: 0 auto 25px;
}

body .indexPage .loginWrapper .adminLogin, body .indexPage .loginWrapper .userLogin {
  padding: 8px 0;
  display: flex;
  width: 100%;
  margin: auto;
  cursor: pointer;
  transition: box-shadow 0.45s, transform 0.45s;
}

body .indexPage .loginWrapper .adminLogin div, body .indexPage .loginWrapper .userLogin div {
  margin: auto;
}

body .indexPage .loginWrapper .adminLogin div img, body .indexPage .loginWrapper .userLogin div img {
  display: block;
  text-align: center;
  width: 24px;
  height: auto;
  margin: auto;
  /* Tablets and phablets */
}

@media only screen and (min-width: 768px) {
  body .indexPage .loginWrapper .adminLogin div img, body .indexPage .loginWrapper .userLogin div img {
    width: 18px;
  }
}

body .indexPage .loginWrapper .adminLogin div img + p, body .indexPage .loginWrapper .userLogin div img + p {
  font-size: 12px;
  display: block;
  line-height: 1;
  margin: 5px 0 0;
  /* Tablets and phablets */
}

@media only screen and (min-width: 768px) {
  body .indexPage .loginWrapper .adminLogin div img + p, body .indexPage .loginWrapper .userLogin div img + p {
    font-size: 11px;
  }
}

body .indexPage .loginWrapper .adminLogin:hover, body .indexPage .loginWrapper .userLogin:hover {
  box-shadow: 0 0 20px rgba(34, 34, 34, 0.3);
  transform: scale(1.03, 1.03);
}
