@font-face {
  font-family: 'CircularStd-Bold';
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.7px;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "CircularStd-Bold", Open Sans, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #2E0C40;
  overflow: hidden;
}

body img {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

body img + h1 {
  text-align: center;
  color: #ce616e;
  font-size: 4em;
  margin-top: 50px;
}

body h5 {
  color: #ffffff;
  text-align: center;
}

body h5 span {
  color: red;
}
