/* ==|====================
   Layout/Header
   ======================= */

.l-header {
	background: linear-gradient($red1, $red2);
	width: 100%;
	height: 100vh;
	display: flex;

	.header-content {
		width: 100%;
		padding: 0 60px;
		margin: auto;

		.header-title {
			color: $white;
			font-size: 4.5em;
			margin-bottom: 50px;
			text-align: left;

			span {
				&:first-of-type {
					color: $purple;
				}

				&:last-of-type {
					color: $yellow;
				}
			}
		}
	}
}
