/* ==|====================
   Layout/Main
   ======================= */

.l-main {
	width: 100%;
	height: 100vh;
	overflow: auto;

	&.tinted {
		background-color: $offwhite;
	}
}

.main-head {

}

.main-title {

}