/* ==|====================
   Layout/Main
   ======================= */

.l-main {
	width: 100%;
	height: 100vh;
	overflow: auto;

	&.tinted {
		background-color: $offwhite;
	}

	.filter {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		background-color: transparentize($black, 0.5);
		z-index: +1;

		.filter-content {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $white;
			width: 100%;
			padding: 20px 40px 40px;

			p {
				font-size: 1.1em;
				font-family: $headerFont;
				color: $red1;
				margin-bottom: 20px;
				letter-spacing: 0.5px;
			}

			button.btn {
				display: block;
				width: 100%;
				margin-bottom: 20px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	.side-bar {
		width: 100%;
		height: calc(100vh - 50px);
		position: absolute;
		top: 50px;
		left: 0;
		background-color: transparentize($black, 0.5);
		z-index: +1;

		.side-bar-content {
			width: 80%;
			max-width: 350px;
			height: 100%;
			background: linear-gradient($red1, $red2);
			position: absolute;
			top: 0;
			left: 0;
			padding: 60px 15px 10px;

			p {
				font-size: 4.5em;
				font-family: $headerFont;
				color: $white;
				word-break: break-all;
				word-wrap: break-word;

				span {
					color: $yellow
				}
			}

			button {
				display: block;
				margin: 60px auto 0;
			}
		}
	}
}