/* ==|====================
   Layout/Nav
   ======================= */

.l-nav {
	position: fixed;
	top: 20px;
	right: 15px;
	z-index: +2;

	@include MQ(M) {
		top: 50px;
		right: 120px;
	}

	img {
		@include wh(38px,38px);
		cursor: pointer;
	}

}
