/* ==|====================
   Layout/Header
   ======================= */

.l-header {
	width: 100%;
	height: 70vh;
	background-image: url("../img/image.header.jpg");
	background-size: cover;
	background-position: center;


	.header-title {
		padding: 10px 30px;
		margin: auto 30px;
		color: $color2;
		background-color: $white;
		text-align: center;
		@include center(y);

		@include MQ(M) {
			font-size: 5em;
		}

		span {
			color: $color1;
		}

		&+.btn {
			margin: auto;
			position: relative;
			display: block;
			top: 20px;
			@include center(y);
		}
	}
}
