/* ==|====================
   Module/Alert
   ======================= */

.m-alert {
	@include wh();
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;

	.alert-overlay {
		@include wh();
		background-color: transparentize($black, 0.4);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
	}

	.alert-content {
		@include wh(30%, auto);
		max-width: 350px;
		min-width: 300px;
		background-color: $white;
		padding: 40px 30px 0;
		box-shadow: 0 5px 10px transparentize($black, 0.85);
		margin: 80px auto 0;
		position: relative;
		z-index: 21;

		.alert-icon {
			@include wh(150px, 150px);
			margin: 0 auto 20px;

			&.success {
				background-image: url('../img/icon.success-animated.gif');
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.failure {
				background-image: url('../img/icon.failure.png');
				background-position: center;
				background-size: 40%;
				background-repeat: no-repeat;
			}
		}

		.alert-title {
			@include rfs(2);
			font-family: $headerFont;
			color: $black;
			letter-spacing: 0;
			text-align: center;
		}

		.alert-body {
			@include wh(70%, auto);
			text-align: center;
			margin: 20px auto 30px;
			letter-spacing: 0.2px;
			color: $black;
		}

		.alert-footer {
			padding: 15px 0;
			border-top: solid 1px $grey2;
			margin: 0 -30px;

			button {
				display: block;
				text-align: center;
				margin: 0 auto;
			}
		}
	}
}