/* ==|====================
   Module/Progress
   ======================= */

.m-progress {
	@include wh(0,5px);
	position: relative;

	.progress-back {
		@include wh();
		position: absolute;
		top: 0;
		left: 0;
		background-color: transparentize($grey, 0.9)
	}

	.progress-level {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		z-index: +1;
		transition: width .45s;

		&.is-ongoing {
			@include wh(0);
			background-color: $color1;
		}
	}

	#progress-summary & {
		@include wh(100%,5px);
	}

	#recent-jobs & {
		@include wh(calc(50% - 30px),5px);
		@include center(y);
		float: left;
	}	
}