/* ==|====================
   Module/Transaction Item
   ======================= */

.m-transaction-item {
    background-color: $light2;
    padding: 15px 10px;
    font-size: 0.9em;
    margin: 0 0 15px;
    position: relative;

    .description {
        font-weight: bold;
    }

    span {
        margin-bottom: 8px;
        display: inline-block;

        &.datetime {
            margin-bottom: 0;
        }

        @include MQ(L) {
            margin-bottom: 0;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        @include wh(4px, 100%);
    }

    &.credit {

        &:before {
            background-color: $color1;
        }

        .amount {
            color: $color1;
            font-weight: bold;
        }
    }

    &.debit {
        
        &:before {
            background-color: red;
        }

        .amount {
            color: red;
            font-weight: bold;
        }
    }
}