@charset "UTF-8";
@font-face {
  font-family: 'proxima_novabold';
  src: url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novaregular';
  src: url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* line 1, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
body {
  font-family: "proxima_novaregular", Open Sans, sans-serif;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 13, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima_novabold", Open Sans, sans-serif; }

/* line 17, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.fgWhite {
  color: #ffffff; }

/* line 21, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.bgWhite {
  background-color: #ffffff; }

/* line 25, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.fgPrimary {
  color: #2a2e6d; }

/* line 29, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.bgPrimary {
  background-color: #2a2e6d; }

/* line 33, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.fgAccent {
  color: #f0de52; }

/* line 37, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.bgAccent {
  background-color: #f0de52; }

/* line 41, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.fgDark {
  color: #222222; }

/* line 45, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.bgDark {
  background-color: #222222; }

/* line 49, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.fgGray {
  color: #f9f9f9; }

/* line 53, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.bgGray {
  background-color: #f9f9f9; }

/* line 57, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.fgDarkGray {
  color: #cecece; }

/* line 61, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.bgDarkGray {
  background-color: #cecece; }

/* line 67, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.nextPage, .lastPage {
  height: 100%;
  background-color: #686868;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.45s;
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  transition-delay: 0.07s; }

/* line 80, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.lastPage {
  background-color: #939393 !important;
  transition-delay: 0.1s !important;
  z-index: -2 !important; }

/* line 86, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.scaleClass {
  transform: scale3d(0.8, 0.8, 0.3) perspective(1200px) rotateX(-5deg);
  margin-top: 500px;
  overflow: hidden !important; }

/* line 92, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.scalenextPage {
  transform: scale3d(0.8, 0.8, 0.3) perspective(1200px) rotateX(-5deg) translateZ(-30px);
  margin-top: 480px; }

/* line 97, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_base.scss */
.scalelastPage {
  transform: scale3d(0.8, 0.8, 0.3) perspective(1200px) rotateX(-5deg) translateZ(-70px);
  margin-top: 460px; }

/* line 1, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
.navPage {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #222222;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2; }
  /* line 11, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
  .navPage .navCloseBtn {
    font-size: 150%;
    position: absolute;
    top: 20px;
    right: 37.5px;
    cursor: pointer; }
  /* line 20, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
  .navPage .navItems .col-sm-12 {
    padding: 15px 0 15px 0; }
    /* line 22, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
    .navPage .navItems .col-sm-12 a {
      text-decoration: none;
      color: #ffffff; }
    /* line 26, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
    .navPage .navItems .col-sm-12 a:after {
      content: '';
      width: 0px;
      height: 3px;
      background-color: rgba(255, 255, 255, 0);
      margin: auto;
      display: block;
      transition: width 0.4s; }
    /* line 35, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
    .navPage .navItems .col-sm-12 a:hover:after {
      width: 30px;
      background-color: #f0de52; }
  /* line 41, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
  .navPage .actionItems {
    margin-top: 30px; }
    /* line 43, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
    .navPage .actionItems button {
      display: inline; }
    /* line 46, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
    .navPage .actionItems button:first-child {
      margin-right: 10px; }

/* line 52, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_navigation.scss */
.mainPage {
  transition: all 0.45s;
  overflow-y: scroll;
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1); }

/* line 1, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_footer.scss */
.footerContent {
  width: 100%; }
  /* line 5, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_footer.scss */
  .footerContent .row .footerItem {
    padding: 10px auto;
    margin: 30px auto; }
    /* line 9, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_footer.scss */
    .footerContent .row .footerItem .footerImg {
      height: 100px;
      width: auto; }
    /* line 14, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_footer.scss */
    .footerContent .row .footerItem a {
      text-decoration: none;
      color: #cecece; }
      /* line 18, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_footer.scss */
      .footerContent .row .footerItem a p {
        margin: 0;
        padding: 5px 0; }
    /* line 23, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_footer.scss */
    .footerContent .row .footerItem a:after {
      content: '';
      width: 0px;
      height: 3px;
      margin: auto;
      background-color: rgba(255, 255, 255, 0);
      display: block;
      margin-top: -5px;
      transition: width 0.4s; }
    /* line 33, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/partials/_footer.scss */
    .footerContent .row .footerItem a:hover:after {
      width: 30px;
      background-color: #f0de52; }

/* line 7, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
.buttonBase, .outlineButton, .filledButton {
  width: 130px;
  height: 40px;
  padding: 5px auto;
  border-radius: 20px; }

/* line 14, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
.outlineButton {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #ffffff; }

/* line 21, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
.filledButton {
  border: none; }

/* line 26, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
.mainPage {
  width: 100%;
  height: 100%; }
  /* line 30, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
  .mainPage .pageHero {
    height: 100%;
    width: 100%;
    position: relative; }
    /* line 34, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .pageHero .heroHeader {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: +1; }
      /* line 40, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .pageHero .heroHeader .contactInfo {
        display: none;
        /* Tablets and phablets */ }
        @media only screen and (min-width: 768px) {
          /* line 40, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
          .mainPage .pageHero .heroHeader .contactInfo {
            display: inline; } }
        /* line 47, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroHeader .contactInfo .col-sm-12 {
          padding-top: 5px;
          padding-bottom: 5px;
          /* Tablets and phablets */
          font-size: 0.9em; }
          @media only screen and (min-width: 768px) {
            /* line 47, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
            .mainPage .pageHero .heroHeader .contactInfo .col-sm-12 {
              padding-left: 5%;
              padding-right: 5%; } }
        /* line 56, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroHeader .contactInfo p {
          padding: 3px 0 3px 0;
          display: inline; }
        /* line 60, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroHeader .contactInfo span {
          width: 16px;
          height: 16px;
          border-radius: 16px;
          display: inline;
          padding: 5px; }
      /* line 68, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .pageHero .heroHeader .naviBar {
        height: 70px;
        /* Tablets and phablets */ }
        @media only screen and (min-width: 768px) {
          /* line 68, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
          .mainPage .pageHero .heroHeader .naviBar {
            padding: 0 5% 0 5%; } }
        /* line 73, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroHeader .naviBar .brandLogo {
          height: 40px;
          margin-top: 15px;
          margin-bottom: 15px; }
        /* line 79, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroHeader .naviBar .navToggleColumn {
          /* Tablets and phablets */ }
          @media only screen and (min-width: 768px) {
            /* line 79, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
            .mainPage .pageHero .heroHeader .naviBar .navToggleColumn {
              padding-right: 0; } }
        /* line 84, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroHeader .naviBar .navToggle {
          width: 30px;
          padding: 34px 0 0 0;
          float: right;
          cursor: pointer; }
          /* line 89, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
          .mainPage .pageHero .heroHeader .naviBar .navToggle .navLine {
            width: 30px;
            height: 2px;
            display: block;
            border-radius: 2px; }
          /* line 95, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
          .mainPage .pageHero .heroHeader .naviBar .navToggle .navLine:before {
            content: '';
            background-color: #ffffff;
            width: 30px;
            height: 2px;
            display: block;
            position: relative;
            border-radius: 2px;
            top: -8px;
            left: 0px; }
          /* line 106, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
          .mainPage .pageHero .heroHeader .naviBar .navToggle .navLine:after {
            content: '';
            background-color: #ffffff;
            width: 30px;
            height: 2px;
            display: block;
            position: relative;
            border-radius: 2px;
            top: 6px;
            left: 0px; }
        /* line 118, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroHeader .naviBar .navToggle:before {
          content: 'MENU';
          color: #ffffff;
          display: block;
          position: relative;
          left: -45px;
          float: left;
          top: -8px;
          font-size: 14px; }
    /* line 130, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .pageHero .heroSlider {
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex; }
      /* line 136, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .pageHero .heroSlider .heroTextWrapper {
        /* Tablets and phablets */
        width: 80%;
        margin: auto;
        /* For Large Screens
                padding-top: 130px; */ }
        @media only screen and (min-width: 768px) {
          /* line 136, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
          .mainPage .pageHero .heroSlider .heroTextWrapper {
            width: 50%; } }
        /* line 145, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroSlider .heroTextWrapper .heroText {
          font-family: "proxima_novaregular", Open Sans, sans-serif;
          font-size: 200%;
          /* Tablets and phablets */ }
          @media only screen and (min-width: 768px) {
            /* line 145, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
            .mainPage .pageHero .heroSlider .heroTextWrapper .heroText {
              font-size: 300%; } }
        /* line 153, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroSlider .heroTextWrapper .heroSubtext {
          font-family: "proxima_novabold", Open Sans, sans-serif;
          font-size: 120%; }
        /* line 158, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroSlider .heroTextWrapper .heroSidetext {
          font-family: "proxima_novaregular", Open Sans, sans-serif;
          font-size: 110%; }
        /* line 163, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroSlider .heroTextWrapper .ctaButton {
          width: 180px; }
      /* line 167, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .pageHero .heroSlider .heroImage {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url("../img/bgImage.jpg");
        background-size: cover; }
      /* line 178, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .pageHero .heroSlider .heroImage:after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        z-index: +1;
        background-color: #f0de52;
        opacity: 0.95; }
      /* line 189, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .pageHero .heroSlider .heroAnimation {
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: +3;
        background-image: url("../img/image.road.png");
        background-position: bottom;
        background-size: cover;
        /* Tablets and phablets */ }
        @media only screen and (min-width: 768px) {
          /* line 189, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
          .mainPage .pageHero .heroSlider .heroAnimation {
            background-size: contain;
            background-repeat: repeat-x; } }
        /* line 204, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .pageHero .heroSlider .heroAnimation .heroAnimationBus {
          height: 33px;
          position: absolute;
          bottom: 5px;
          left: 1%; }
  /* line 214, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
  .mainPage .features {
    width: 100%; }
    /* line 217, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .features .row {
      /* Tablets and phablets */ }
      @media only screen and (min-width: 768px) {
        /* line 217, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .features .row {
          width: 80%;
          margin-left: 10%;
          padding: 100px 0 100px 0; } }
    /* line 225, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .features .featureItem {
      padding: 40px;
      margin-bottom: 0.5px;
      /* Tablets and phablets */ }
      @media only screen and (min-width: 768px) {
        /* line 225, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .features .featureItem {
          width: 23%;
          height: 230px;
          margin: 0 1% 0 1%;
          border-radius: 10px; } }
      /* line 236, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .features .featureItem :last-child {
        margin-bottom: 0; }
      /* line 240, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .features .featureItem .featureIcon {
        display: inline-block;
        font-size: 150%; }
      /* line 245, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .features .featureItem .featureTitle {
        display: block;
        font-family: "proxima_novabold", Open Sans, sans-serif;
        font-size: 12px; }
      /* line 251, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .features .featureItem .featureText {
        display: block;
        /* Tablets and phablets */ }
        @media only screen and (min-width: 768px) {
          /* line 251, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
          .mainPage .features .featureItem .featureText {
            font-size: 0.9em; } }
  /* line 260, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
  .mainPage .whoWeAre {
    width: 100%;
    position: relative;
    z-index: -1;
    background-image: url("../img/bgWhoWeAre.jpg");
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px; }
    /* line 269, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .whoWeAre .sectionContent {
      width: 80%;
      margin: auto;
      /* Tablets and phablets */ }
      @media only screen and (min-width: 768px) {
        /* line 269, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whoWeAre .sectionContent {
          padding: 40px 10%; } }
      /* line 276, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whoWeAre .sectionContent .sectionTitle {
        font-family: "proxima_novabold", Open Sans, sans-serif;
        margin-bottom: 20px; }
      /* line 281, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whoWeAre .sectionContent .sectionIcon {
        font-size: 1.5em; }
      /* line 285, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whoWeAre .sectionContent .sectionText {
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: justify;
        text-align-last: center; }
      /* line 292, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whoWeAre .sectionContent .sectionHighlights {
        height: 40px;
        display: inline-flex; }
      /* line 297, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whoWeAre .sectionContent .highlight {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-left: 10px;
        margin-right: 10px; }
      /* line 305, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whoWeAre .sectionContent .highlightIconBase, .mainPage .whoWeAre .sectionContent .highlight1:after, .mainPage .whoWeAre .sectionContent .highlight2:after, .mainPage .whoWeAre .sectionContent .highlight3:after {
        font-family: icomoon;
        font-size: 20px;
        color: #222222;
        display: block;
        position: relative;
        top: 5px; }
      /* line 313, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whoWeAre .sectionContent .highlight1:after {
        content: '\e92c'; }
      /* line 317, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whoWeAre .sectionContent .highlight2:after {
        content: '\e900'; }
      /* line 321, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whoWeAre .sectionContent .highlight3:after {
        content: '\e901'; }
  /* line 328, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
  .mainPage .whoWeAre:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #222222;
    opacity: 0.93; }
  /* line 342, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
  .mainPage .servicesWeOffer .sectionContent {
    padding-top: 30px;
    padding-bottom: 30px;
    /* Tablets and phablets */ }
    @media only screen and (min-width: 768px) {
      /* line 342, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .servicesWeOffer .sectionContent {
        padding-top: 40px;
        padding-bottom: 40px; } }
    /* line 349, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .servicesWeOffer .sectionContent .sectionTitle {
      font-family: "proxima_novabold", Open Sans, sans-serif; }
    /* line 352, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .servicesWeOffer .sectionContent .sectionSubTitle {
      display: inline-block;
      padding: 5px 20px;
      margin-top: 5px;
      margin-bottom: 15px; }
    /* line 358, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .servicesWeOffer .sectionContent .servicesWrapper {
      width: 100%;
      /* Tablets and phablets */ }
      @media only screen and (min-width: 768px) {
        /* line 358, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .servicesWeOffer .sectionContent .servicesWrapper {
          width: 80%;
          margin-left: 10%; } }
      /* line 365, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .servicesWeOffer .sectionContent .servicesWrapper .row .serviceItem {
        /* Tablets and phablets */
        margin: 5px 0 0 0;
        padding-top: 10px;
        padding-bottom: 10px; }
        @media only screen and (min-width: 768px) {
          /* line 365, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
          .mainPage .servicesWeOffer .sectionContent .servicesWrapper .row .serviceItem {
            border-radius: 5px; } }
        /* line 373, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .servicesWeOffer .sectionContent .servicesWrapper .row .serviceItem span, .mainPage .servicesWeOffer .sectionContent .servicesWrapper .row .serviceItem div, .mainPage .servicesWeOffer .sectionContent .servicesWrapper .row .serviceItem p {
          display: block; }
        /* line 377, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .servicesWeOffer .sectionContent .servicesWrapper .row .serviceItem span {
          font-size: 1.2em;
          margin-bottom: 3px; }
        /* line 382, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .servicesWeOffer .sectionContent .servicesWrapper .row .serviceItem div {
          margin-bottom: 10px; }
        /* line 386, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .servicesWeOffer .sectionContent .servicesWrapper .row .serviceItem p {
          margin-top: 5px; }
        /* line 390, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .servicesWeOffer .sectionContent .servicesWrapper .row .serviceItem .coloredBar {
          width: 30px;
          height: 3px;
          margin: auto;
          border-radius: 5px; }
  /* line 403, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
  .mainPage .whatWeDo {
    width: 100%;
    position: relative;
    z-index: -1;
    background-image: url("../img/bgWhatWeDo.jpeg");
    background-size: cover;
    padding-top: 30px; }
    /* line 412, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .whatWeDo .sectionContent .sectionTitle {
      font-family: "proxima_novabold", Open Sans, sans-serif; }
    /* line 415, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .whatWeDo .sectionContent .sectionDoWrapper {
      width: 100%;
      margin-top: 60px; }
      /* line 419, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row :last-child {
        margin-bottom: 0px; }
      /* line 422, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
      .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem {
        padding: 0;
        margin-bottom: -10px; }
        /* line 427, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem div, .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem p {
          display: block; }
        /* line 430, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doHeader {
          width: 100%;
          height: 50px; }
        /* line 434, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doIcon {
          width: 60px;
          height: 60px;
          border-radius: 30px;
          margin: 20px auto; }
        /* line 441, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doIconBase, .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doIcon1:after, .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doIcon2:after, .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doIcon3:after {
          font-family: icomoon;
          font-size: 30px;
          color: #f0de52;
          display: block;
          position: relative;
          top: 7.5px; }
        /* line 450, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doIcon1:after {
          content: '\e922'; }
        /* line 455, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doIcon2:after {
          content: '\e905'; }
        /* line 460, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doIcon3:after {
          content: '\e924'; }
        /* line 465, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doTitle {
          font-family: "proxima_novabold", Open Sans, sans-serif;
          margin-top: 10px;
          margin-bottom: 10px; }
        /* line 471, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
        .mainPage .whatWeDo .sectionContent .sectionDoWrapper .row .doItem .doText {
          width: 80%;
          text-align: justify;
          text-align-last: center;
          margin-left: 10%;
          padding-bottom: 20px; }
  /* line 484, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
  .mainPage .whatWeDo:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #222222;
    opacity: 0.93; }
  /* line 497, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
  .mainPage .socialIcons {
    width: 100%; }
    /* line 500, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .socialIcons .iconsWrapper {
      height: 70px;
      display: inline-flex;
      padding: 20px auto; }
    /* line 506, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .socialIcons .socialIcon {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin: auto 20px; }
    /* line 513, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .socialIcons .socialIconBase, .mainPage .socialIcons .socialIcon1:after, .mainPage .socialIcons .socialIcon2:after, .mainPage .socialIcons .socialIcon3:after {
      font-family: FontAwesome;
      font-size: 20px;
      color: #f0de52;
      display: block;
      position: relative;
      top: 6px; }
    /* line 522, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .socialIcons .socialIcon1:after {
      content: '\f09a'; }
    /* line 527, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .socialIcons .socialIcon2:after {
      content: '\f099'; }
    /* line 532, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
    .mainPage .socialIcons .socialIcon3:after {
      content: '\f0e1'; }
  /* line 538, C:/Users/Christian Dréy/Desktop/Folders/Jobs/404/Published/christiandrey.bitbucket.org/loadam/scss/style.scss */
  .mainPage .googleMap {
    width: 100%;
    height: 300px;
    background-image: url("../img/googleMap.PNG");
    background-position: top left;
    background-size: cover; }

/*# sourceMappingURL=style.css.map */
