/* ==|====================
   Layout/Header
   ======================= */

.l-header {
	@include wh(100%, 100vh);
	background-image: url('../img/image.bg.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;

	#get-started-page & {
		background-image: url('../img/image.bg-desat.jpg');
	}

	.header-left-bg {
		display: block;
		position: absolute;
		top: 8px;
		left: -110px;
		height: 100%;

		img {
			display: block;
			@include wh(auto, 120%);
		};

		@include MQ(M) {
			top: 0px;
			left: -70px;
			height: 100%;
		};
	}

	.header-right-bg {
		display: block;
		position: absolute;
		top: 100px;
		right: -130px;
		height: 100%;

		img {
			display: block;
			@include wh(auto, 120%);
		};

		@include MQ(M) {
			top: 70px;
			right: -50px;
			height: 100%;
		};
	}

	.header-content {
		@include center(y);
		@include wh(80%, auto);
		position: relative;
		z-index: 2;
		margin: 0 auto;

		.brand-logo {
			@include wh(auto, 100px);
			display: block;
			margin: 0 auto;
			cursor: pointer;
		}

		.header-title {
			@include rfs(2.2);
			font-family: $headlineFont;
			color: $white;
			text-align: center;
			margin: 10px auto 30px;
			line-height: 1;
			letter-spacing: 0;

			span {
				color: $dark;
			}

			@include MQ(M) {
				@include rfs(5.8);
				margin: 10px auto 40px;
			};

			#get-started-page & {
				@include rfs(1.8);
				margin: 10px auto 10px;

				@include MQ(M) {
					@include rfs(3);
				};
			}

		}

		.header-subtitle {
			@include rfs(1);
			@include wh(83%, auto);
			color: $white;
			text-align: center;
			margin: 0 auto 30px;
			letter-spacing: 0.2px;

			@include MQ(M) {
				@include wh(62%, auto);
				margin: 0 auto 40px;
			};

			&+button {
				margin: 0 auto;
				display: block;
			}
		}

		#get-started-page & {
			.get-started-form {
				display: block;
				margin: 0 auto;
				text-align: center;

				.i-email {
					@include wh(80%, 40px);
					margin: 0 auto 10px;
					border: none;
					outline: none;
					padding: 0 15px;
					box-shadow: 0 5px 10px transparentize($black, 0.95);
					transform: translateY(2px);
					transition: box-shadow .45s, transform 0.45s;

					@include MQ(M) {
						@include wh(50%, 40px);
						max-width: 400px;
						margin: 0 auto;
					};

					&:focus {
						box-shadow: 0 5px 15px transparentize($black, 0.75);
						transform: translateY(-5px);
					}
				}
			}
		}
	}

	.scroll-icon {
		@include wh(auto, auto);
		@include center(x);
		display: block;
		position: absolute !important;
		bottom: 10px;
		
		@include MQ(M) {
			bottom: 30px;
		};

		img {
			@include wh(25px, auto);
		}
	}

}