/* ==|====================
   Layout/Nav
   ======================= */

.l-nav {
	@include wh(100%, 80px);
	padding: 0 15px;
	z-index: +2;
	position: relative;

	@include MQ(L) {
		padding: 0 80px;
	}

    &.fixed-nav {
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 10;
        border-bottom: solid 1px $light;
        box-shadow: 0 5px 18px rgba(0,0,0,0.03);
    }

	.nav-hamburger {
		@include wh(auto,40px);
		margin: 20px 20px 20px 0;
		float: left;
		display: inline-block;

		@include MQ(L) {
			display: none;
		}
	}

	.brand-logo {
		@include wh(auto,40px);
		margin: 20px 0;
		float: left;
		display: inline-block;
	}

	.user-notification {
		@include wh(24px, 24px);
		display: block;
		background-image: url("../img/user-notifications.orange.png");
		background-size: 80%;
		background-position: center;
		background-repeat: no-repeat;
		float: left;
		position: relative;
		top: 18px;
		margin-left: 11px;
		cursor: pointer;

		@include MQ(L) {
			background-image: url("../img/user-notifications.png");
			top: 8px
		}

		&.new {
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 2px;
				right: -1px;
				@include wh(6px, 6px);
				background-color: red;
				border-radius: 4px;
			}
		}
	}

	.right-aligned-items {
		background-color: $dark;
		@include wh(calc(100%), 100%);
		padding: 90px 40px 20px;
		position: fixed;
		top: 0;
		left: 0;
		transition: transform 0.35s;
		transform: translateY(100%);
		z-index: 5;

		&.open {
			transform: translateY(0%);
		}

		@include MQ(L) {
			@include wh(auto, 100%);
			background: none;
			padding: 0;
			position: static;
			float: right;
			transform: translateY(0%);
		}

		.close-btn {
			position: absolute;
			@include wh(auto,40px);
			top: 20px;
			right: 20px;

			@include MQ(L) {
				display: none;
			}
		}

		.user-details {
			text-align: left;

			@include MQ(L) {
				display: block;
				float: right;
				margin: 20px 0;
			}

			.user-avatar {
				@include wh(auto, 60px);
				border-radius: 30px;
				display: block;
				margin: 0;
				float: left;
				border: solid 3px $white;

				@include MQ(L) {
					@include wh(auto, 40px);
					border: none;
				}
			}

			.user-name {
				letter-spacing: 0.2px;
				color: $white;
				display: block;
				float: left;
				font-size: 1em;
				margin: 23px 0 23px 10px;

				@include MQ(L) {
					color: $dark;
					margin: 13px 0 13px 10px;
				}
			}

			.user-action {
				background: none;
				border: none;
				padding: 4px;
				margin-left: 2px;
				margin-top: 7px;
				display: block;
				float: left;
				position: relative;
				display: none;

				span {
					color: $color3
				}

				@include MQ(L) {
					display: block;
					margin-top: 2px;
					margin-left: 2px;
				}
			}
		}

		.nav-links-container {
				margin: 60px 0;
				width: 100%;
				text-align: left;

				@include MQ(L) {
					margin: 33px 20px;
					width: auto;
					display: block;
					float: right;
				}

				.nav-links-title {
					font-family: $headerFont;
					font-size: 1.3em;
					color: $color2;
					margin: 0 0 8px;

					@include MQ(L) {
						display: none;
					}
				}

				.nav-link {
					font-size: 1em;
					letter-spacing: 0.2px;

					@include MQ(L) {
						display: inline-block;
						padding: 0 10px;
					}

					a {
						text-decoration: none;
						color: $white;
						display: block;
						padding: 18px 0;
						transition: color 0.15s;

						@include MQ(L) {
							color: $dark;
							padding: 0;
							display: inline-block;
						}

						&:hover {
							color: $color2;
						}
					}

					&.hidden-sm {
						@include MQ(L) {
							display: none;
						}
					}

					&.login a, &.signup a {
						font-weight: bold;
						color: $color2;

						&:hover {
							color: $grey;
						}

						@include MQ(L) {
							color: $color1;
						}
					}

					&.is-active {
						a {
							color: $color2;
						}
					}
				}
			}
	}

	ul.dropdown-menu {
		left: auto;
		right: 28%;
		top: 97%;
		letter-spacing: 0.2px;
		min-width: 125px;
		padding: 0;
		border: 1px solid $light2;
		box-shadow: 0 6px 6px rgba(0,0,0,.05);
		border-radius: 0;

		a {
			padding: 3px 14px;
		}
	}

	#admin-page & {
		background-color: $color1;
		position: fixed;
		top: 0;
		left: 0;

		.nav-link {
			@include center(y);
			letter-spacing: 0.2px;
			text-decoration: none;
			color: $white;
			display: block;
			left: 80px;
			position: absolute;
		}

		.brand-logo {
			@include wh(auto,40px);
			@include center(xy);
			position: absolute;
		}

		.user-details {
			@include center(y);
			position: absolute;
			display: inline;
			right: 80px;

			.user-avatar {
				@include wh(auto, 40px);
				border-radius: 20px;
				display: block;
				float: left;
			}

			.user-name {
				margin-left: 5px;
				margin-top: 14px;
				letter-spacing: 0.2px;
				display: block;
				float: left;
				color: $white;
			}

			.user-action {
				background: none;
				border: none;
				padding: 0;
				margin-left: 2px;
				margin-top: 7px;
				display: block;
				float: left;

				span {
					color: $color3
				}
			}
		}
	}

}
