@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

//Responsive breakpoints
$S: 480px; // Small phones Styles are written for this breakpoint by default, so no need to specify it.
$M: 768px; // Phablets
$L: 992px; // 10" Tablets and desktops
$XL: 1200px; // 10" Tablets and desktops..

// Fonts
$bodyFont: "HelveticaNeueLTPro-Roman", Arial, sans-serif;
$headerFont: "HelveticaNeueLTPro-Bd", Georgia, serif;

//  Font Sources
@font-face {
    font-family: 'HelveticaNeueLTPro-Bd';
    src: url('../fonts/HelveticaNeueLTPro-Bd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTPro-Roman';
    src: url('../fonts/HelveticaNeueLTPro-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

// = Colors
// -----------------------------

// Graphic chart
$red1: #ff595f;
$red2: #e4295a;
$yellow: #ffcc03;
$purple: #420a35;

$white: #ffffff;
$black: #222222;
$grey: #dedede;
$grey2: #8a8e91;

$color1: $red1;
$color2: $red2;


// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);