/* ==|====================
   Module/Button
   ======================= */

.btn {
	width: 176px;
	height: 40px;
	border-radius: 20px;
	box-shadow: 0 4px 5px transparentize($color1, 0.85);
	transition: transform 0.45s, box-shadow 0.45s;
	outline: none !important;
	@include rFS(1);

	&.btn-a {
		padding: 11px 0;
		line-height: 1;
		height: auto;
	}

	&.btn-orange {
		background-color: $color6;
		color: $color1;
		font-family: $headerFont;
		z-index: +1;
	}

	&:hover {
		box-shadow: 0 20px 10px transparentize(#222222, 0.6);
		transform: translateY(-10px);
	}

	&:focus {
		outline: none;
	}
}