@import "partials/variables.scss";
@import "partials/mixins.scss";
@import "partials/base.scss";
.buttonBase {
    width: 150px;
    height: 40px;
    padding: 5px auto;
    border-radius: 20px;
}

.outlineButton {
    @extend .buttonBase;
    color: $colorWhite;
    background-color: $colorTrans;
    border: solid 1px $colorWhite;
}

.filledButton {
    @extend .buttonBase;
    border: none
}

.navPage {
    width: 100%;
    height: 100%;
    color: $colorWhite;
    background-color: $colorDark;
    padding-top: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    .navCloseBtn {
        font-size: 150%;
        position: absolute;
        top: 30px;
        right: 37.5px;
    }
    .navItems {
        .col-sm-12 {
            padding: 15px 0 15px 0;
            a {
                text-decoration: none;
                color: $colorWhite;
            }
            a:after {
                content: '';
                width: 0px;
                height: 3px;
                background-color: $colorTrans;
                margin: auto;
                display: block;
                transition: width 0.4s;
            }
            a:hover:after {
                width: 30px;
                background-color: $colorAccent;
            }
        }
    }
    .actionItems {
        margin-top: 30px;
        button {
            display: inline
        }
        button:first-child {
            margin-right: 10px;
        }
    }
}

.mainPage {
    width: 100%;
    height: 100%;
    transition: all 0.45s;
    overflow-y: scroll;
    transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
    .pageHero {
        height: 100%;
        width: 100%;
        position: relative;
        .heroHeader {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: +1;
            .contactInfo {
                //Only for mobile device goes here
                display: none;
                //End of only for mobile
                .col-sm-12 {
                    padding-top: 8px;
                    padding-bottom: 8px
                }
                p {
                    padding: 3px 0 3px 0;
                    display: inline;
                }
                span {
                    width: 16px;
                    height: 16px;
                    border-radius: 16px;
                    display: inline;
                    padding: 5px;
                }
            }
            .naviBar {
                height: 70px;
                .brandLogo {
                    height: 40px;
                    margin-top: 15px;
                    margin-bottom: 15px
                }
                .navToggle {
                    width: 30px;
                    padding: 34px 0 0 0;
                    float: right;
                    cursor: pointer;
                    .navLine {
                        width: 30px;
                        height: 2px;
                        display: block;
                        border-radius: 2px;
                    }
                    .navLine:before {
                        content: '';
                        background-color: $colorWhite;
                        width: 30px;
                        height: 2px;
                        display: block;
                        position: relative;
                        border-radius: 2px;
                        top: -8px;
                        left: 0px
                    }
                    .navLine:after {
                        content: '';
                        background-color: $colorWhite;
                        width: 30px;
                        height: 2px;
                        display: block;
                        position: relative;
                        border-radius: 2px;
                        top: 6px;
                        left: 0px
                    }
                }
                .navToggle:before {
                    content: 'MENU';
                    color: $colorWhite;
                    display: block;
                    position: relative;
                    left: -45px;
                    float: left;
                    top: -8px;
                    font-size: 14px;
                }
            }
        }
        .heroSlider {
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;

            .heroTextWrapper {
                width: 80%;
                margin: auto;
                /* For Large Screens
                padding-top: 130px; */

                .heroText {
                    font-family: $bodyFont;
                    font-size: 200%;
                }

                .heroSubtext {
                    font-family: $headerFont;
                    font-size: 120%;
                }

                .heroSidetext {
                    font-family: $bodyFont;
                    font-size: 110%
                }

                .ctaButton {
                    width: 180px;
                }
            }
            .heroImage {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                background-image: url('../img/bgImage.jpg');
                background-size: cover;
            }

            .heroImage:after {
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                z-index: +1;
                background-color: $colorAccent;
                opacity: 0.95;
            }

            .heroAnimation {
                width: 100%;
                height: 70px;
                position: absolute;
                bottom: 0px;
                left: 0;
                z-index: +3;
                background-image: url('../img/image.road.png');
                background-position: bottom;
                background-size: cover;
                /* For Large Screens
                background-size: contain;
                background-repeat: repeat-x;
                */

                .heroAnimationBus {
                    height: 33px;
                    position: absolute;
                    bottom: 5px;
                    left: 1%;
                }
            }
        }
    }

    .features {
        width: 100%;

        .featureItem {

            padding: 20px;
            margin-bottom: 0.5px;

            :last-child {
                margin-bottom: 0
            }

            .featureIcon {
                display: inline-block;
                font-size: 150%;
            }

            .featureTitle {
                display: block;
                font-family: $headerFont;
                font-size: 12px;
            }

            .featureText {
                display: block
            }
        }
    }

    .whoWeAre {
        width: 100%;
        position: relative;
        z-index: -1;
        background-image: url('../img/bgWhoWeAre.jpg');
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 30px;

        .sectionContent {
            width: 80%;
            margin: auto;

            .sectionTitle {
                font-family: $headerFont;
                margin-bottom: 20px;
            }

            .sectionIcon {
                font-size: 1.5em;
            }

            .sectionText {
                margin-top: 20px;
                margin-bottom: 30px;
                text-align: justify;
                text-align-last: center
            }

            .sectionHighlights {
                height: 40px;
                display: inline-flex;
            }

            .highlight {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .highlightIconBase {
                font-family: icomoon;
                font-size: 20px;
                color: $colorDark;
                display: block;
                position: relative;
                top: 5px;
            }
            .highlight1:after {
                @extend .highlightIconBase;
                content: '\e92c'
            }
            .highlight2:after {
                @extend .highlightIconBase;
                content: '\e900'
            }
            .highlight3:after {
                @extend .highlightIconBase;
                content: '\e901'
            }
        }
    }

    .whoWeAre:after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $colorDark;
        opacity: 0.93
    }

    .servicesWeOffer {
        .sectionContent {
            padding-top: 30px;
            padding-bottom: 30px;
            .sectionTitle {
                font-family: $headerFont;
            }
            .sectionSubTitle {
                display: inline-block;
                padding: 5px 20px;
                margin-top: 5px;
                margin-bottom: 15px;
            }
            .servicesWrapper {
                width: 100%;
                .row {
                    .serviceItem {
                        margin: 5px 0 0 0;
                        padding-top: 10px;
                        padding-bottom: 10px;

                        span, div, p {
                            display: block
                        }

                        span {
                            font-size: 1.2em;
                            margin-bottom: 3px;
                        }

                        div {
                            margin-bottom: 10px
                        }

                        p {
                            margin-top: 5px;
                        }

                        .coloredBar {
                            width: 30px;
                            height: 3px;
                            margin: auto;
                            border-radius: 5px;
                        }

                    }
                }
            }
        }
    }

    .whatWeDo {
        width: 100%;
        position: relative;
        z-index: -1;
        background-image: url('../img/bgWhatWeDo.jpeg');
        background-size: cover;
        padding-top: 30px;

        .sectionContent {
            .sectionTitle {
                font-family: $headerFont
            }
            .sectionDoWrapper {
                width: 100%;
                margin-top: 60px;
                .row {
                    :last-child {
                        margin-bottom: 0px;
                    }
                    .doItem {
                        padding: 0;
                        margin-bottom: -10px;


                        div, p {
                            display: block
                        }
                        .doHeader {
                            width: 100%;
                            height: 50px;
                        }
                        .doIcon {
                            width: 60px;
                            height: 60px;
                            border-radius: 30px;
                            margin: 20px auto;
                        }

                        .doIconBase {
                            font-family: icomoon;
                            font-size: 30px;
                            color: $colorAccent;
                            display: block;
                            position: relative;
                            top: 7.5px;
                        }

                        .doIcon1:after {
                            @extend .doIconBase;
                            content: '\e922'
                        }

                        .doIcon2:after {
                            @extend .doIconBase;
                            content: '\e905'
                        }

                        .doIcon3:after {
                            @extend .doIconBase;
                            content: '\e924'
                        }

                        .doTitle {
                            font-family: $headerFont;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        .doText {
                            width: 80%;
                            text-align: justify;
                            text-align-last: center;
                            margin-left: 10%;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .whatWeDo:after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $colorDark;
        opacity: 0.93
    }

    .socialIcons {
        width: 100%;

        .iconsWrapper {
            height: 70px;
            display: inline-flex;
            padding: 20px auto;
        }

        .socialIcon {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            margin: auto 40px;
        }

        .socialIconBase {
            font-family: FontAwesome;
            font-size: 20px;
            color: $colorAccent;
            display: block;
            position: relative;
            top: 6px
        }

        .socialIcon1:after {
            @extend .socialIconBase;
            content: '\f09a'
        }

        .socialIcon2:after {
            @extend .socialIconBase;
            content: '\f099'
        }

        .socialIcon3:after {
            @extend .socialIconBase;
            content: '\f0e1'
        }
    }

    .googleMap {
        width: 100%;
        height: 300px;
        background-image: url('../img/googleMap.PNG');
        background-position: top left;
        background-size: cover;
    }

    .footerContent {
        width: 100%;

        .row {
            .footerItem {
                padding: 10px auto;
                margin: 30px auto;

                .footerImg {
                    height: 100px;
                    width: auto
                }

                a {
                    text-decoration: none;
                    color: $colorDarkGray;

                    p {
                        margin: 0;
                        padding: 5px 0;
                    }
                }
                a:after {
                    content: '';
                    width: 0px;
                    height: 3px;
                    margin: auto;
                    background-color: $colorTrans;
                    display: block;
                    margin-top: -5px;
                    transition: width 0.4s;
                }
                a:hover:after {
                    width: 30px;
                    background-color: $colorAccent;
                }
            }
        }
    }


}
