@charset "UTF-8";
@font-face {
  font-family: 'HelveticaNeueLTPro-Bd';
  src: url("../fonts/HelveticaNeueLTPro-Bd.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Roman';
  src: url("../fonts/HelveticaNeueLTPro-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Lt';
  src: url("../fonts/HelveticaNeueLTPro-Lt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "HelveticaNeueLTPro-Roman", Open Sans, sans-serif;
  background-color: #2c2d3c;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.7px;
}

::selection {
  background-color: #dadee5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
}

.fgBlack {
  color: #222222;
}

.bgBlack {
  background-color: #222222;
}

.fgGray {
  color: #414259;
}

.bgGray {
  background-color: #414259;
}

.fgDark {
  color: #2c2d3c;
}

.bgDark {
  background-color: #2c2d3c;
}

.fgDarkGray {
  color: #2e3244;
}

.bgDarkGray {
  background-color: #2e3244;
}

.fgGray {
  color: #414259;
}

.bgGray {
  background-color: #414259;
}

.fgAccent {
  color: #228fe3;
}

.bgAccent {
  background-color: #228fe3;
}

.fgWhite {
  color: #dadee5;
}

.bgWhite {
  background-color: #dadee5;
}

.fgSuccess {
  color: #29b75c;
}

.bgSuccess {
  background-color: #29b75c;
}

.fgFailure {
  color: #d81327;
}

.bgFailure {
  background-color: #d81327;
}

.page {
  width: 100vw;
  height: 100vh;
}

.page .navDivision {
  width: 100%;
  height: 70px;
  position: relative;
  z-index: +2;
}

.page .bodyDivision {
  width: 100%;
  height: calc(100% - 70px);
}

.page .bodyDivision .mainBody {
  width: calc(100% - 70px);
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  float: left;
  background-color: #2c2d3c;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #303142;
  margin: 20px 0 20px;
}

.pageNav {
  width: 100%;
  height: 100%;
  background-color: #2e3244;
  box-shadow: 0px 5px 20px #2c2d3c;
}

.pageNav .brandLogo {
  width: 50px;
  height: 50px;
  margin: 10px 0 10px 70px;
  display: inline-block;
  float: left;
  border-radius: 50px;
  background-color: #414259;
}

.pageNav .brandName {
  margin: 25px 0px 25px 25px;
  font-size: 20px;
  height: 20px;
  float: left;
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  display: inline-block;
  line-height: 1;
  color: #dadee5;
}

.pageNav .userDetails {
  width: auto;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  margin-right: 70px;
}

.pageNav .userDetails .adminEmail {
  font-size: 12px;
  height: 12px;
  line-height: 1;
  color: #dadee5;
  display: inline;
  margin: 29px 0;
}

.pageNav .userDetails .userAvatar {
  width: 50px;
  height: 50px;
  margin: 10px 0 10px 30px;
  display: inline;
  border-radius: 50px;
  background-color: #414259;
}

.pageNav .userDetails .menuTrigger {
  width: 5px;
  height: 25px;
  margin: 22.5px 0 22.5px 30px;
  display: inline;
  cursor: pointer;
}

.pageNav .userDetails .menuTrigger .box {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #228fe3;
}

.pageNav .userDetails .menuTrigger .box:last-of-type {
  margin-bottom: 0;
}

.sideNav {
  width: 70px;
  height: 100%;
  display: inline-block;
  float: left;
  background-color: #2e3244;
}

.sideNav .sideNavItemWrapper {
  width: 70px;
  height: 80px;
  overflow: auto;
}

.sideNav .sideNavItemWrapper .sideNavItem {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 25px 20px;
  background-color: #414259;
  cursor: pointer;
}

.sideNav .sideNavItemWrapper .active {
  background-color: #dadee5 !important;
}

.buttonBase, .outlineButton, .filledButton {
  width: 160px;
  height: 40px;
  padding: 5px auto;
  border-radius: 20px;
}

.buttonBase:focus, .outlineButton:focus, .filledButton:focus {
  outline: none;
}

.outlineButton {
  color: #dadee5;
  background-color: transparent;
  border: solid 1px #dadee5;
}

.filledButton {
  border: none;
}

.userItem {
  height: 70px;
  width: 300px;
  background-color: #2e3244;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: background-color 0.3s ease-in;
  box-shadow: 0px 3px 5px rgba(34, 34, 34, 0.1);
}

.userItem .userIconWrapper {
  height: 70px;
  width: 70px;
  display: inline;
  float: left;
}

.userItem .userIconWrapper .userIcon {
  width: 40px;
  height: 40px;
  margin: 15px;
  display: block;
  border-radius: 20px;
  background-color: #414259;
}

.userItem .userNameWrapper {
  width: 190px;
  height: 70px;
  display: inline;
  float: left;
}

.userItem .userNameWrapper .userName {
  font-size: 12px;
  line-height: 1;
  display: block;
  position: relative;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.userItem .actionButtonWrapper {
  width: 40px;
  height: 70px;
  display: inline;
  float: left;
  box-sizing: border-box;
}

.userItem .actionButtonWrapper .menuTrigger {
  width: 5px;
  height: 25px;
  margin: 22.5px 17.5px;
  display: block;
  cursor: pointer;
}

.userItem .actionButtonWrapper .menuTrigger .box {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #228fe3;
}

.userItem .actionButtonWrapper .menuTrigger .box:last-of-type {
  margin-bottom: 0;
}

.userItem:hover {
  background-color: #34394d;
}

.clientUserItem {
  border-bottom: solid 2px #29b75c;
}

.designerUserItem {
  border-bottom: solid 2px #228fe3;
}

.approved:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #29b75c;
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
}

.unapproved {
  opacity: 0.5;
}

.imageItem {
  width: 100px;
  height: 125px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s, transform 0.5s ease;
}

.imageItem:hover {
  transform: scale(0.95, 0.95);
}

.imageItem .top {
  width: 100px;
  height: 100px;
  background-color: #2e3244;
}

.imageItem .top .imageElement {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.imageItem .bottom {
  width: 100px;
  height: 25px;
  background-color: #414259;
  border-top: dashed 2px #2e3244;
}

.imageItem .bottom .polka {
  display: inline;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  float: right;
  margin-right: 2px;
  margin-top: 10px;
}

.imageItem .bottom .polka:first-of-type {
  margin-right: 10px;
}

.indexPage .bodyDivision {
  display: flex;
}

.indexPage .bodyDivision .loginWrapper {
  width: 300px;
  height: 350px;
  margin: auto;
  background-color: #2c2d3c;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.indexPage .bodyDivision .loginWrapper .loginTop {
  width: 100%;
  height: 80%;
  display: block;
  overflow: auto;
  background-color: #2e3244;
  box-shadow: 0px 5px 20px #2c2d3c;
  border-bottom: dashed 2px #414259;
}

.indexPage .bodyDivision .loginWrapper .loginTop .loginIcon {
  margin: 30px auto;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #414259;
}

.indexPage .bodyDivision .loginWrapper .loginTop .loginForm {
  width: 80%;
  margin: 45px auto 0;
}

.indexPage .bodyDivision .loginWrapper .loginTop .loginForm input {
  width: 100%;
  font-size: 13px;
  height: 40px;
  border-radius: 40px;
  padding-left: 15px;
  margin: 8px 0;
  color: #dadee5;
  background-color: #2c2d3c;
  outline: none;
  border: none;
}

.indexPage .bodyDivision .loginWrapper .loginBottom {
  width: 100%;
  height: 20%;
  display: block;
  background-color: #414259;
  padding: 15px 70px;
}

.dashboardPage .tasksWrapper {
  width: 100%;
  height: 350px;
  margin: auto;
}

.dashboardPage .tasksWrapper .task {
  width: calc(100% / 3);
  height: 350px;
  float: left;
  background-color: #2c2d3c;
}

.dashboardPage .tasksWrapper .task .taskTop {
  width: 300px;
  margin: auto;
  height: 80%;
  background-color: #2e3244;
  display: block;
  border-bottom: dashed 2px #414259;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: auto;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.dashboardPage .tasksWrapper .task .taskTop .taskIcon {
  margin: 30px auto;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 70px;
  background-color: #414259;
}

.dashboardPage .tasksWrapper .task .taskTop .taskTitle {
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  font-size: 22px;
  text-align: center;
}

.dashboardPage .tasksWrapper .task .taskTop .taskSubtitle {
  color: #dadee5;
  font-size: 12px;
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 1.2;
}

.dashboardPage .tasksWrapper .task .taskBottom {
  width: 300px;
  margin: auto;
  height: 20%;
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.dashboardPage .tasksWrapper .task > div {
  width: 300px;
  margin: auto;
  height: 100%;
  cursor: pointer;
  transition: box-shadow 0.5s, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.dashboardPage .tasksWrapper .task > div:hover {
  transform: scale(1.1, 1.1);
}

.jobMgmtPage .mainBody .subHeader {
  width: 100%;
  height: 70px;
  display: block;
  position: relative;
  z-index: +1;
  background-color: #228fe3;
  box-shadow: 0px 5px 20px #2c2d3c;
  overflow: auto;
}

.jobMgmtPage .mainBody .subHeader .subHeaderLink {
  font-size: 12px;
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  line-height: 1;
  color: #2c2d3c;
  display: inline-block;
  margin: 15px 20px 15px 0;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
}

.jobMgmtPage .mainBody .subHeader .subHeaderLink:first-of-type {
  margin-left: 75px;
}

.jobMgmtPage .mainBody .subHeader .subHeaderLink:hover {
  background-color: #414259;
  color: #dadee5;
}

.jobMgmtPage .mainBody .subHeader .active {
  color: #dadee5;
}

.jobMgmtPage .mainBody .bodyContentsWrapper {
  width: 100%;
  height: calc(100% - 70px);
  display: block;
  overflow: auto;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .bodyContents {
  width: calc(100% - 145px);
  margin: 30px 70px 30px 75px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableHeader, .jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody {
  color: #9ea9bb;
  font-family: "HelveticaNeueLTPro-Roman", Open Sans, sans-serif;
  font-size: 11px;
  margin: 0;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody {
  cursor: pointer;
  color: #dadee5;
  position: relative;
  height: 70px;
  width: 100%;
  background-color: #414259;
  border-radius: 3px;
  margin: 15px 0  0;
  transition: background-color 0.3s ease-in;
  box-shadow: 0px 3px 5px rgba(34, 34, 34, 0.1);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .titleColumn, .jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .clientColumn, .jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .dateColumn, .jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .bidsColumn, .jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .progressColumn {
  position: relative;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .actionColumn .deleteButton {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #2e3244;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .rowIndicator, .jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .rowBidding, .jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .rowPending, .jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .rowCompleted {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .rowBidding {
  background-color: #dadee5;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .rowPending {
  background-color: #228fe3;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .rowCompleted {
  background-color: #29b75c;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .clientImage {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  background-color: #2e3244;
  float: left;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .clientImage + .client {
  display: inline-block;
  margin-left: 10px;
  height: 30px;
  padding-top: 9.5px;
  line-height: 1;
  float: left;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .progressAmount {
  display: inline-block;
  width: 30px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .progressIndicator {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 5px;
  margin-left: 10px;
  margin-top: 4.5px;
  vertical-align: top;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .progressIndicator .progressBase {
  width: 100%;
  height: 100%;
  background-color: #575876;
  border-radius: 10px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .progressIndicator .progressCurrent {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .progressIndicator .progressBidding {
  background-color: #dadee5;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .progressIndicator .progressPending {
  background-color: #228fe3;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody .progressIndicator .progressCompleted {
  background-color: #29b75c;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .pendingProjectsBody .tableWrapper .tableBody:hover {
  background-color: #474962;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableHeader, .jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody {
  color: #9ea9bb;
  font-family: "HelveticaNeueLTPro-Roman", Open Sans, sans-serif;
  font-size: 11px;
  margin: 0;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody {
  cursor: pointer;
  color: #dadee5;
  position: relative;
  height: 70px;
  width: 100%;
  background-color: #414259;
  border-radius: 3px;
  margin: 15px 0  0;
  transition: background-color 0.3s ease-in;
  box-shadow: 0px 3px 5px rgba(34, 34, 34, 0.1);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .titleColumn, .jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .clientColumn, .jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .dateColumn, .jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .statusColumn, .jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .progressColumn {
  position: relative;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .actionColumn .deleteButton {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #2e3244;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .rowIndicator, .jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .rowBidding, .jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .rowPending, .jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .rowCompleted {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .rowBidding {
  background-color: #dadee5;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .rowPending {
  background-color: #228fe3;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .rowCompleted {
  background-color: #29b75c;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .clientImage {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  background-color: #2e3244;
  float: left;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .clientImage + .client {
  display: inline-block;
  margin-left: 10px;
  height: 30px;
  padding-top: 9.5px;
  line-height: 1;
  float: left;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .progressAmount {
  display: inline-block;
  width: 30px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .progressIndicator {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 5px;
  margin-left: 10px;
  margin-top: 4.5px;
  vertical-align: top;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .progressIndicator .progressBase {
  width: 100%;
  height: 100%;
  background-color: #575876;
  border-radius: 10px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .progressIndicator .progressCurrent {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .progressIndicator .progressBidding {
  background-color: #dadee5;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .progressIndicator .progressPending {
  background-color: #228fe3;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody .progressIndicator .progressCompleted {
  background-color: #29b75c;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .ongoingProjectsBody .tableWrapper .tableBody:hover {
  background-color: #474962;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView {
  height: calc(100% - 30px);
  margin-bottom: 0;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn {
  width: 60%;
  height: 100%;
  display: inline;
  float: left;
  position: relative;
  transform: translateZ(0);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .textHeader {
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  font-size: 12px;
  margin-top: 20px;
  color: #228fe3;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .subtextHeader {
  font-family: "HelveticaNeueLTPro-Roman", Open Sans, sans-serif;
  font-size: 11px;
  margin-top: -5px;
  letter-spacing: 1px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectTitleWrapper {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: +4;
  top: 0;
  left: 0;
  background-color: #2e3244;
  box-shadow: 0px 5px 5px #2a2b39;
  border-bottom: dashed 2px #414259;
  border-top-left-radius: 5px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectTitleWrapper .projectTitle {
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  font-size: 12px;
  width: 100%;
  color: #dadee5;
  position: relative;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper {
  width: 100%;
  height: calc(100% - 70px);
  color: #dadee5;
  font-size: 12px;
  padding-right: 30px;
  margin-top: 70px;
  padding-bottom: 30px;
  overflow: auto;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .projectNotes {
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 10px;
  background-color: #414259;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .biddingStatus:after {
  content: "•";
  color: #dadee5;
  margin-left: 3px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .pendingStatus:after {
  content: "•";
  color: #228fe3;
  margin-left: 3px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .completedStatus:after {
  content: "•";
  color: #29b75c;
  margin-left: 3px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .progressAmount {
  display: inline-block;
  width: 30px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .progressIndicator {
  display: inline-block;
  position: relative;
  width: calc(100% - 45px);
  height: 5px;
  float: right;
  margin-left: 10px;
  margin-top: 4.5px;
  vertical-align: top;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .progressIndicator .progressBase {
  width: 100%;
  height: 100%;
  background-color: #575876;
  border-radius: 10px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .progressIndicator .progressCurrent {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .progressIndicator .progressBidding {
  background-color: #dadee5;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .progressIndicator .progressPending {
  background-color: #228fe3;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .leftColumn .projectDetailsWrapper .projectDetails .progressIndicator .progressCompleted {
  background-color: #29b75c;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn {
  width: 40%;
  height: 100%;
  background-color: #282936;
  display: inline;
  float: left;
  border-top-right-radius: 5px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .emptyColumn {
  width: 100%;
  height: 100%;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .emptyColumn .emptyContentWrapper {
  position: relative;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .emptyColumn .emptyContentWrapper .emptyIcon {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #414259;
  display: inline-block;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .emptyColumn .emptyContentWrapper .emptyText {
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  color: #414259;
  line-height: 2;
  margin: 0;
  padding: 0;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .emptyColumn .emptyContentWrapper .emptySubText {
  color: #dadee5;
  font-size: 10px;
  line-height: 1;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn {
  width: 100%;
  height: 100%;
  padding: 0 0px 30px;
  position: relative;
  overflow: hidden;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsTitle {
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  font-size: 13px;
  color: #228fe3;
  width: 100%;
  padding: 10px;
  position: absolute;
  z-index: +1;
  top: 0;
  left: 0;
  line-height: 1;
  background-color: #2d3142;
  box-shadow: 0px 5px 5px #2a2b39;
  border-bottom: dashed 2px #414259;
  border-top-right-radius: 5px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsTitle .lastActivity {
  font-family: "HelveticaNeueLTPro-Roman", Open Sans, sans-serif;
  font-size: 10px;
  color: #dadee5;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox {
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  margin-top: 33px;
  overflow: auto;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .clientMessage {
  width: 100%;
  display: flex;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .clientMessage .iconWrapper {
  width: 70px;
  display: inline;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .clientMessage .iconWrapper .icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  background-color: #414259;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .clientMessage .iconWrapper .icon > img {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 20px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .clientMessage .messageWrapper {
  width: calc(100% - 70px);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .clientMessage .messageWrapper .message {
  max-width: 200px;
  margin-top: 20px;
  padding: 10px;
  background-color: #2e3244;
  color: #dadee5;
  font-size: 11px;
  position: relative;
  box-shadow: 0px 4px 5px rgba(34, 34, 34, 0.04);
  border-left: solid 2px #29b75c;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .designerMessage {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .designerMessage .iconWrapper {
  width: 70px;
  display: inline-block;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .designerMessage .iconWrapper .icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  background-color: #414259;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .designerMessage .messageWrapper {
  width: calc(100% - 70px);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .conversationsColumn .conversationsBox .designerMessage .messageWrapper .message {
  max-width: 200px;
  margin-top: 20px;
  padding: 10px;
  display: inline;
  float: right;
  clear: left;
  background-color: #2e3244;
  color: #dadee5;
  font-size: 11px;
  position: relative;
  box-shadow: 0px 4px 5px rgba(34, 34, 34, 0.04);
  border-right: solid 2px #228fe3;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn {
  width: 100%;
  height: 100%;
  padding: 0 0px 30px;
  position: relative;
  overflow: hidden;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn .imageViewerTitle {
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  font-size: 13px;
  color: #228fe3;
  width: 100%;
  padding: 10px;
  position: absolute;
  z-index: +1;
  top: 0;
  left: 0;
  line-height: 1;
  background-color: #2d3142;
  box-shadow: 0px 5px 5px #2a2b39;
  border-bottom: dashed 2px #414259;
  border-top-right-radius: 5px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn .imageViewerTitle .sentDate {
  font-family: "HelveticaNeueLTPro-Roman", Open Sans, sans-serif;
  font-size: 10px;
  color: #dadee5;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn .imageBoxWrapper {
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  margin-top: 33px;
  overflow: auto;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn .imageBoxWrapper .imageBox {
  width: 100%;
  height: calc(100% - 30px);
  background-image: url("../img/non-default.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn .imageBoxWrapper .imageBoxControls {
  text-align: center;
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn .imageBoxWrapper .imageBoxControls .previous, .jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn .imageBoxWrapper .imageBoxControls .next {
  background-color: #414259;
  display: inline-block;
  width: 50px;
  text-align: center;
  border: 2px solid #414259;
  border-radius: 50px;
  color: #dadee5;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s, border 0.3s ease;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn .imageBoxWrapper .imageBoxControls .previous:hover, .jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .imageViewerColumn .imageBoxWrapper .imageBoxControls .next:hover {
  transform: scale(0.95);
  border: 2px solid #474962;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn {
  width: 100%;
  height: 100%;
  text-align: center;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top {
  width: 100%;
  height: calc(100% - 70px);
  background-color: #2e3244;
  border-bottom: dashed 2px #414259;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top .profileContentWrapper {
  width: 80%;
  margin: auto 10%;
  position: relative;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top .profileContentWrapper .profileImgBg {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  display: inline-block;
  background-color: #2b2c3c;
  margin: auto;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top .profileContentWrapper .profileImgBg > div {
  width: 240px;
  height: 240px;
  border-radius: 240px;
  margin: 5px;
  background-color: #303141;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top .profileContentWrapper .profileImgBg > div > div {
  width: 230px;
  height: 230px;
  border-radius: 230px;
  position: relative;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #3d3e53;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top .profileContentWrapper .profileImgBg > div > div > img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  position: relative;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top .profileContentWrapper .profileName {
  color: #dadee5;
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 20px auto 8px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top .profileContentWrapper .profileType {
  color: #dadee5;
  font-size: 11px;
  line-height: 1;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top .profileContentWrapper .profileType.clientType:before {
  content: "•";
  color: #29b75c;
  margin-left: 3px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .top .profileContentWrapper .profileType.clientType:before {
  content: "•";
  color: #228fe3;
  margin-right: 3px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .middle {
  width: 100%;
  height: 60px;
  background-color: #414259;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .middle .left, .jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .middle .right {
  display: inline;
  float: left;
  width: 50%;
  height: 100%;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .middle .left .title, .jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .middle .right .title {
  font-family: "HelveticaNeueLTPro-Roman", Open Sans, sans-serif;
  font-size: 10px;
  color: #dadee5;
  line-height: 1;
  padding: 0;
  margin: 15px 0 5px;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .middle .left .subTitle, .jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .middle .right .subTitle {
  font-family: "HelveticaNeueLTPro-Bd", Open Sans, sans-serif;
  font-size: 18px;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.jobMgmtPage .mainBody .bodyContentsWrapper .singleProjectView .rightColumn .profileViewerColumn .bottom {
  width: 100%;
  height: 10px;
}
