/* ===========================
   Base
   =========================== */

body {
	font-family: $bodyFont;
    @include font-smoothing;
    letter-spacing: 0.7px;
    // @include rfs(1);
    font-size: 14px;
}

a {
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

::selection {
    background-color: $color1;
    color: $white;
}

.naira {
    &:after {
        content: "\20A6";
        color: inherit;
        font-style: normal;
        padding-right: 2.5px;
    }
}

.strikethrough {
    position: relative;

    &:after {
        content: "";
        top: calc(50% - 1px);
        left: -4px;
        position: absolute;
        @include wh(calc(100% + 8px), 2px);
        background-color: red;
    }
}