/* ===========================
   Base
   =========================== */

body {
	font-family: $bodyFont;
    @include font-smoothing;
    letter-spacing: 0.7px;
    // @include rfs(1);
    font-size: 14px;
}

a {
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

::selection {
    background-color: $color1;
    color: $white;
}