@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

//Responsive breakpoints
$S: 480px; // Small phones Styles are written for this breakpoint by default, so no need to specify it.
$M: 768px; // Phablets col-sm-*
$L: 992px; // 10" Tablets and desktops col-md-*
$XL: 1200px; // 10" Tablets and desktops.. col-lg-*

// Fonts
$bodyFont: "SourceSansPro-Regular", Arial, sans-serif;
$headerFont: "CircularStd-Bold", Georgia, serif;
$headlineFont: "Qanelas-Black", Georgia, serif;

//  Font Sources
@font-face {
    font-family: 'Qanelas-Black';
    src: url('../fonts/Qanelas-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('../fonts/CircularStd-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// = Colors
// -----------------------------

// Graphic chart
$aqua: #32a2bd;
$orange: #f2a42f;
$yellow: #f4c737;
$green: #128a4b;
$dark: #222222;
$grey: #777777;
$grey2: #ebebeb;
$light: #F6F7FB;
$light2: #f4f8f9;
$white: #ffffff;
$black: #000;

$color1: $green;
$color2: $orange;
$color3: $yellow;


// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);